# Supabase PostgreSQL
DATABASE_URL=postgresql://postgres:[YOUR-PASSWORD]@db.uvnbtbqxlnkzuivdmucp.supabase.co:5432/postgres

# Sessão
SESSION_SECRET=sua_chave_secreta_aqui

# Porta
PORT=3000

MP_ACCESS_TOKEN=TEST-SEU-TOKEN-AQUI