:root {
    --cor-fonte: #FFFF;
    --cor-fonte2: #000;
    --cor-fonte3: #c70074d2;
    --cor-bar: #ffffff;
    --cor-fundo: #f80091bd;
    --cor-fundo2: #d12089;
    --cor-fundo3: rgb(79, 79, 79);
    --cor-fundo4: #1a348967;

    --cor-bar-dark: #010c1aa9;
    --cor-bar-dark-mob: #010c1a;
}

/* mapa design */
.gm-style-mtc-bbw, .gm-control-active, .gmnoprint, .gmnoprint, .gmnoscreen, .gm-style-cc, .gm-control-active, .gm-control-active{
    display: none;
}

@keyframes slideOff {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.product-card{
    animation: slideOff 0.65s forwards;
}

.product-info{
    animation: slideOff 0.5s forwards;
}

.preco_hora , .descricao_produto, .proximaPag{
    margin-top: 20px;
}

.product-info{
    display: flex;
    flex-direction: column;
}

.product-info h2{
    margin-bottom: 20px;
    color: #f72ba5;
}



.preco_hora .name{
    background-color: var(--cor-fonte);
    display: block;
    padding: 10px;
    width: 100%;
    border: 1px solid var(--cor-fundo2);
    border-radius: 17px;
}

.hora_css{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.funcionamento{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.hora_funciona{
    width: 45%;
}

.hora_funciona #voltarButton span{
    font-size: 2.1em;
    width: 47px;
    height: 47px;
    border-radius: 50%;
}

#voltarButton{
    transition: transform 0.3s ease, color 0.3s ease;
}

#voltarButton:hover{
    cursor: pointer;
    color: #fa6dc2;
    transform: scale(1.03);
    
}

.hora_funciona h1{
    font-size: 2em;
    margin-bottom: 40px;
}

.hora_css h3{
    justify-self: flex-start;
    font-size: 1em;
    width: 100%;
    text-align: start;
}

.hora_css .h3_hora{
    justify-self: center;
    width: 100%;
    text-align: center;
}

.hora_css p {
    justify-self: flex-end;
    font-size: 1.3em;
    width: 100%;
    text-align: end;
}

.info_dia{
    cursor: pointer;
    padding: 10px;
}

.info_dia:hover{
    background-color: #eee;
}

.mapa{
    width: 45%;
    height: 500px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.mapa h2{
    position: absolute;
    z-index: 100;
    background-color: #fff;
    color: #d12089;
    font-size: 1.9em;
    padding: 10px;
    margin-top: -35px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
}

body {
    position: relative;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* cor de fundo escura com opacidade */
    display: none; /* escondido por padrão */
    z-index: 1; /* abaixo do conteúdo da escolha de hora */
}

.overlay:hover{
    cursor: pointer;
}

.escolher_hora {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* centraliza o elemento */
    background: white; /* fundo branco para o elemento */
    padding: 5px 20px 5px 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 2; /* acima do overlay */
    display: none; /* escondido por padrão */
    flex-direction: column;
    align-items: flex-end;
}

.toggle-container {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    flex-direction: row-reverse;
}

.toggle-container span{
    display: flex;
    font-size: 23px;
    width: 42px;
    height: 42px;
    font-weight: bold;
    background-color: #ddd;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    
}

.toggle-container span:hover{
    background-color: #e4e4e4;
    cursor: pointer;
}

.toggle-btn {
    width: 100px;
    padding: 5px;
    border: none;
    border-radius: 25px;
    background-color: #ccc;
    color: white;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 200px;
}

.toggle-btn.active {
    background-color: #f72ba5;
}

.toggle-btn.active:hover{
    background-color: #fa6dc2;
}

.flatpickr-calendar.open {
    border: 2px solid #f72ba5;
    border-radius: 15px;
}

.time-picker{
    background-color: var(--cor-fonte);
    
    padding: 5px;
    border: 1px solid var(--cor-fundo2);
    border-radius: 17px;
    text-align: center;
    font-size: 15px;
}

.addButton {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}