:root {
    --cor-fonte: #FFFF;
    --cor-fonte2: #000;
    --cor-fonte3: #c70074d2;
    --cor-bar: #f5f5f5;
    --cor-bar-dark: #010c1aa9;
    --cor-bar-dark-mob: #010c1a;
    --cor-fundo: #f80091bd;
    --cor-fundo2: #d12089;
    --cor-fundo3: rgba(0, 33, 123, 0.562);
    --cor-fundo4: rgb(235, 235, 235);
    --cor-fundo5: #12488ded;
    --cor-fundo-body: #010c1aed;
}

label {
    font-weight: bold;
    margin-right: 10px;
    display: block;
    margin-bottom: 10px;
}

/* Definindo o layout da página */

html,
body,
main {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
}

body {
    background-color: #fff;
}

/* Estilizando o botão de imagem */
#fileImage {
    cursor: pointer;
    display: block;
    margin: 10px 0;
}

.progress-bar {
    margin-top: 10px;
    width: 100%;
    height: 20px;
    background-color: #ddd;
}

.progress-bar span {
    display: block;
    height: 100%;
    background-color: #4caf50;
    width: 0%;
}

.container-product{
    height: auto;
}

.card{
    background-color: var(--cor-bar);
}

.card i{
    color: rgb(20, 51, 77);
}

.card a{    
    color: var(--cor-fonte2);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#result {
    margin-top: 10px;
}

#info_local {
    display: flex;
    flex-direction: column;
}

body.dark {
    .card {
        background-color: var(--cor-bar-dark-mob);
    }

    .card i {
        color: var(--cor-fundo5);
    }
    .card label {
        color: var(--cor-fonte);
    }
    .card a{    
        color: var(--cor-fonte);
    }

    .container-product {
        background-color: var(--cor-fundo-body);
    }

}