:root {
    --cor-fonte: #FFFF;
    --cor-fonte2: #000;
    --cor-fonte3: #c70074d2;
    --cor-bar: #ffffff;
    --cor-fundo: #f80091bd;
    --cor-fundo2: #d12089;
    --cor-fundo3: rgb(79, 79, 79);
    --cor-fundo4: #1a348967;

    --cor-bar-dark: #010c1aa9;
    --cor-bar-dark-mob: #010c1a;
}

.preco_hora .name{
    background-color: var(--cor-fonte);
    display: block;
    padding: 10px;
    width: 100%;
    border: 1px solid var(--cor-fundo2);
    border-radius: 17px;
}