:root {
    --cor-fonte: #FFFF;
    --cor-fonte2: #000;
    --cor-fonte3: #c70074d2;
    --cor-bar: #ffffff;
    --cor-fundo: #f80091bd;
    --cor-fundo2: #d12089;
    --cor-fundo3: rgb(79, 79, 79);
    --cor-fundo4: #1a348967;

    --cor-bar-dark: #010c1aa9;
    --cor-bar-dark-mob: #010c1a;
}


.assinatura-info{
    display: flex;
    background-color: var(--cor-bar-dark-mob);
    border-radius: 20px;
    padding: 45px;
    justify-content: space-between;
    color: #FFF;
}

.assinatura-text{
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: flex-start;
}
h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 3em;
    font-weight: bold;
    color: #f72ba5;
}

.assinatura-text p{
    margin-bottom: 50px;
}

.assinatura-text h3{
    font-size: 1.5em;
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.assinatura-text h3 i{
    margin-right: 20px;
    font-size: 1.7em;
    color: #f72ba5;
}

.cancel-text{
    margin: 90px 0 0;
    font-size: 0.6em;
}

/* card de assinaatura por mês */

.assinatura-data {
    width: 35%;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    background-color: rgb(4, 20, 41);
}

.assinatura-data button{
    background-color: #f72ba5;
}



.plan {
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: rgb(4, 20, 41);
    transition: background-color 0.3s ease;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.plan label {
    display: block;
    margin-bottom: 5px;
}

.plan input[type="radio"] {
    margin-right: 5px;
}

.plan p {
    font-size: 0.9em;
}

.plan .price {
    font-weight: bold;
}




input[type="radio"] {
    margin-right: 10px;
    display: none;
    appearance: none; /* Remove estilo padrão */
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type="radio"]:checked {
    /* Remove any default styles if needed */
}

.plan.selected {
    background-color: rgb(17, 53, 100);
    border-color: #80bdff;
}

.backNext{
    justify-content: flex-end;
}

.backNext .nextButton{
    width: 100%;
}

.radiodesativo{
    display: none;
}

.plan i{
    margin-right: 10px;
    font-size: 1.3em;
    width: 50px;
    height: auto;
    color: #f72ba5;
}


#card-medio{
    display: none;
}

#card-basico{
    display: none;
}