* {
    overflow-x: hidden;
}

:root {
    --cor-fonte: #FFFF;
    --cor-fonte2: #000;
    --cor-fonte3: #c70074d2;
    --cor-bar: #ffffff;
    --cor-fundo: #f80091bd;
    --cor-fundo2: #d12089;
    --cor-fundo3: rgb(79, 79, 79);
    --cor-fundo4: #1a3489c0;
}

header {
    position: fixed;
    width: 100%;
    z-index: 1;
}

.side-bar {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    height: 39%;
    min-height: 39vh;
    height: 70%;
    min-height: 70vh;
    margin-top: 5rem;
    width: 25%;
    margin-left: 3px;
    background-color: #f5f5f5;
    border: solid 0px transparent;
    border-radius: 0px 0px 25px 25px;
}

.side-bar .tools {
    /*position: fixed;*/
    background: #f5f5f5;
    width: 426px;
}

section .inicial-imagem {
    width: 100%;
    margin-top: 6%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    display: flex;
}

section .inicial-imagem img {
    width: 79rem;
    height: 31rem;
    box-shadow: 0px 1px 12px grey;
}

section.sub-solid {
    width: 92%;
    display: flex;
    flex-direction: row;
    margin-left: 7%;
}

.products {
    z-index: 0;
    flex: 3;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
    padding: 45px;
    gap: 2rem;
}

.products-card {
    position: relative;
    transition: all .40s;
}

.products img {
    width: 100%;
    height: auto;
    transition: all .40s;
}

.products img:hover {
    transform: scale(0.9);
}

.content {
    display: flex;
    align-items: start;
    justify-content: start;
}

.solid {
    height: 90vh;
    width: 93%;
    margin-top: 5%;
    margin-bottom: 5%;
}



.adicionar {
    background-color: #f5f5f5;
}

.adicionar i {
    font-size: 190px;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    padding: 20%;
    text-decoration: none;
    color: var(--cor-fundo4);
}

.dropdown i {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    border-radius: 8px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.065);
    z-index: 1;
    right: 0px;
    top: 28px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: var(--back);
}

.dropdown i:hover .dropdown-content {
    display: block;
}

.dropbtn {
    transition: background 500ms linear;
}

.dropdown i:hover .dropbtn {
    background-color: #dfedff;
}

section.buttons-line {
    width: 100%;
    display: flex;
    height: auto;
    padding: 10px;
    background-color: #f5f5f5;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

section .buttons-line button {
    height: 60px;
    width: 155px;
    border: 2px solid #456ef3ec;
    border-radius: 15px;
    background-color: var(--cor-fundo2);
}

.buttons-line a {
    color: #FFFF;
}

section .aviso {
    display: flex;
    width: auto;
    height: 61%;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.aviso a {
    color: #d12089;
}

main {
    width: 100%;
}

footer .footer-social-medias img {
    width: 26px;
}