:root {
  --cor-fonte: #FFFF;
  --cor-fonte2: #000;
  --cor-fonte3: #c70074d2;
  --cor-bar: #f5f5f5;
  --cor-fundo: #f80091bd;
  --cor-fundo2: #d12089;
  --cor-fundo3: rgba(26, 52, 137, 0.753);
}

footer {
  width: 100%;
  color: var(--cor-fonte2);
}

figure img{

  width: 90px;
  height: 90px;

}

footer .footer-social-medias img{
  width: 26px;
}


#footer_content {
  background-color: #f5f5f5;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 3rem 3.5rem;
}

#footer_contacts h1 {
  margin-bottom: 0.75rem;
}

#footer_social_media {
  display: flex;
  gap: 2rem;
  margin-top: 1.5rem;
}

#footer_social_media .footer-link {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  color: var(--cor-fonte2);
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer_social_media .footer-link i {
  font-size: 1.25rem;
}

#footer_social_media .footer-link:hover {
  opacity: 0.8;
}

#instagram {
  background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#instagram i {
  color: var(--cor-fonte);
}

#github {
  background: var(--cor-fonte2);
}

#github i {
  color: var(--cor-fonte);
}

.sp {
  color: var(--cor-fonte);
}

#sharepoint {
  background: #008cb3;
}

#sharepoint .sp {
  color: var(--cor-fonte);
}

.footer-list {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.footer-list .footer-link {
  color: var(--cor-fonte2);
  transition: all 0.4s;
}

.footer-list .footer-link:hover {
  color: var(--cor-fundo2);
}

#footer_subscribe {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

#footer_subscribe p {
  color: var(--cor-fonte2);
}

#input_group {
  display: flex;
  align-items: center;
  background-color: var(--cor-fonte2);
  border-radius: 4px;
}

#input_group input {
  all: unset;
  padding: 0.75rem;
  width: 100%;
  color: var(--cor-fonte);
}

#input_group button {
  background-color: var(--cor-fundo2);
  border: none;
  color: var(--cor-fonte);
  padding: 0px 1.25rem;
  font-size: 1.125;
  height: 100%;
  border-radius: 0px 4px 4px 0px;
  cursor: pointer;
  transition: all 0.4s;
}

#input_group button:hover {
  opacity: 0.8;
}

#footer_copyright {
  display: flex;
  justify-content: center;
  background-color: var(--cor-bar);
  font-size: 0.9rem;
  padding: 1.5rem;
  font-weight: 100;
}

@media screen and (max-width: 768px) {
  #footer_content {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}

@media screen and (max-width: 420px) {
  #footer_content {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  #footer_social_media {
    display: grid;
    gap: 1rem;
    margin-top: 1.5rem;
}

}

