:root {
    --cor-fonte: #FFFF;
    --cor-fonte2: #000;
    --cor-fonte3: #c70074d2;
    --cor-bar: #f5f5f5;
    --cor-bar-dark: #010c1aa9;
    --cor-bar-dark-mob: #010c1a;
    --cor-fundo: #f80091bd;
    --cor-fundo2: #d12089;
    --cor-fundo3: rgba(0, 33, 123, 0.562);
    --cor-fundo4: rgb(235, 235, 235);
    --cor-fundo5: #12488ded;
    --cor-fundo-body: #010c1aed;
}

/* Definindo o tamanho do mapa */

/* Definindo o tamanho do mapa */ 
#map { 
    height: 800px; 
    width: calc(100% - 300px); /* Ajuste o width do mapa para deixar espaço para a aba lateral */ 
    border-radius: 8px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
    flex: 1; /* O mapa ocupará o restante do espaço disponível */ 
    display: flex; 
    flex-direction: column; /* Define a orientação vertical para o mapa */ 
    align-items: center; /* Centraliza o mapa horizontalmente */ 
    padding: 20px; 
} 

/* Definindo o layout da página */ 

html, body { 
    
    height: 100%; 
    margin: 0; 
    font-family: Arial, sans-serif; 
    background-color: #f4f4f9; 
    color: #333; 
}


h1{
    color: #CF1684;
    display: block;
    margin: 20px auto; 
    width: 70%; 
    text-align: center;
}

/* Estilos para o filtro e entrada de endereço */ 

.filters_mobile{
    display: none;
}

#filter, #addressSearch { 
    padding: 20px; 
    box-sizing: border-box; 
    background-color: #ffffff; 
    border-radius: 8px; 
    margin: 20px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
} 

#addressSearch { 
    width: 65%; 
    display: block; 
    margin: 20px auto; 
} 

#filter label, #addressSearch label { 
    font-weight: bold; 
    margin-right: 10px; 
} 

.checkbox-group label { 
    display: block; 
    margin-bottom: 10px; 
} 

.checkbox-group input[type="checkbox"] { 
    margin-right: 10px; 
} 

#address { 
    padding: 10px; 
    border: 1px solid #ddd; 
    border-radius: 5px; 
    font-size: 16px; 
    width: calc(100% - 20px); /* Ajusta o width para incluir o padding */ 
} 

/* Estilo para a imagem */ 

.place-photo { 
    width: 100%; 
    height: auto; 
    border-radius: 8px; 
    object-fit: cover; 
    max-height: 180px;
    min-width: 210px;
} 

/* Estilo para o botão de centralização e busca */ 

button { 
    background-color: #CF1684; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    padding: 12px 20px; 
    font-size: 16px; 
    cursor: pointer; 
    margin: 10px 0; 
    transition: background-color 0.3s; 
} 

.google_color{
    color: #CF1684;
    font-weight: 700;
}

strong{
    font-size: 1.4em;
    display: block; /* Garante que o <strong> se comporte como um bloco */
    max-width: 250px; /* Define a largura máxima */
    overflow-wrap: break-word; /* Quebra a palavra se necessário */
    word-break: break-word; /* Quebra palavras longas */
    white-space: normal; /* Permite que o texto quebre em várias linhas */
}

.break{
    display: block; /* Garante que o <strong> se comporte como um bloco */
    max-width: 250px; /* Define a largura máxima */
    overflow-wrap: break-word; /* Quebra a palavra se necessário */
    word-break: break-word; /* Quebra palavras longas */
    white-space: normal; /* Permite que o texto quebre em várias linhas */
    }

button:hover { 
    background-color: #a8126c; 
} 

/* Estilos para a centralização e busca */ 

#centerButton { 
    display: block; 
    margin: 20px auto; 
} 

.h2_filtros { 
    padding-left: 20px; 
} 

.map_zone { 
    display: flex; 
    margin: 40px; 
    margin-right: 150px; 
} 

/* Estilos para o filtro */ 

.filters { 
    display: flex; 
    flex-direction: column; 
    width: 20%; 
    align-items: center; /* Centraliza o filtro verticalmente */ 
} 

/* Esconde checkboxes adicionais inicialmente */ 

.more-checkboxes { 
    display: none; 
} 

/* Estilo para a aba lateral */ 

#sidePanel { 
    position: fixed; 
    top: 0; 
    right: 0; 
    width: 0; /* Começa com largura 0 */ 
    height: 100%; 
    background-color: #ffffff; 
    border-left: 1px solid #ddd; 
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1); 
    display: none; /* Inicialmente escondido */ 
    overflow-y: auto; 
    transition: width 0.3s ease, opacity 0.3s ease; /* Animação para largura e opacidade */ 
    opacity: 0; /* Começa com opacidade 0 */ 
} 

.sidepanel_card {
    width: 100%;
    height: 300px;
    max-height: 300px;
    overflow: hidden; /* Oculta partes da imagem que excedem o contêiner */
    position: relative; /* Para posicionar o texto corretamente */
}

.sidepanel_card img {
    width: auto; /* Mantém a proporção da largura */
    height: 100%; /* Define a altura para 100% do contêiner */
    object-fit: cover; /* Cobre o contêiner sem esticar */
}

.image-nav {
    color: white;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.8); /* Sombras para dar destaque à seta */
    padding: 10px;
}

.image-nav:hover {
    color: #ffcc00; /* Muda a cor quando o mouse passa por cima */
}


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 80%);
    pointer-events: none; /* Permite interagir com a imagem abaixo */
}

.sidepanel_card h2 {
    position: absolute; /* Muda para absolute */
    bottom: 10px; /* Posiciona o título na parte inferior */
    left: 10px; /* Margem da esquerda */
    color: white; /* Cor do texto */
    /* background: rgba(0, 0, 0, 0.5); Fundo semi-transparente para melhor legibilidade */
    padding: 5px; /* Espaçamento */
}

.sidepanel_info p{
    padding: 0 20px;
}

/* linha horizontal */
.separator {
    border: none;
    height: 1px;
    background-color: #ccc; /* cor da linha */
    margin: 20px 0; /* espaço acima e abaixo da linha */
}





#sidePanel button { 
    background-color: #CF1684; 
    width: 30px;
    height: 30px;
    align-items: center;
    text-align: center;
} 

#sidePanel button:hover { 
    background-color: #a8126c; 
} 

/* Botão de fechar */ 

#closePanel { 
    background-color: #dc3545; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    padding: 10px; 
    cursor: pointer; 
    margin-bottom: 20px; 
} 


#closePanel:hover { 
    background-color: #c82333; 

} 


/* Estilo para a janela de adicionar novo local */

#addNewLocalWindow {
    display: none; /* Inicialmente escondida */
    position: fixed; /* Fixa a posição na tela */
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%); /* Centraliza a janela */
    width: 300px;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
#addNewLocalWindow div{
    display: flex;
    flex-direction: column;
}

#addNewLocalWindow h2 {
    margin-top: 0;
    align-self: center;
}

/* Estilo para a janela de adicionar novo local opção select */

#selectLocalConfirm {
    display: none; /* Inicialmente escondida */
    position: fixed; /* Fixa a posição na tela */
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centraliza a janela */
    width: 300px;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}




/* Estilos para os botões da janela */

.add-local-buttons {
    display: flex;
    justify-content: space-between;
}

#addNewLocalButton{
    display: block; 
    margin: 20px auto;
}

#seguinte{
    align-self: flex-end;
}

/* Estilo para o botão de fechar */
.fechar_newLocal {
    background: none; /* Remove o fundo */
    background-color: none;
    border: none; /* Remove a borda */
    font-size: 24px; /* Tamanho do ícone */
    color: #333; /* Cor do ícone */
    cursor: pointer; /* Cursor de ponteiro */
    display: flex;
    padding: 0px;
    justify-content: flex-end;
    margin: 0 0 20px 0;
    
}

.fechar_newLocal:hover { 
    background-color: none; 
}


.fechar_newLocal i {
    margin: 0;
}


.userButtonMobile{
    display: none;
}



/* Estilo padrão para o mapa */
#map {
    height: 800px; /* altura padrão */
    width: 100%;   /* largura padrão */
}



/* celular css */

/* Consulta de mídia para telas com largura máxima de 600px */
@media screen and (min-width: 320px) and (max-width: 600px) {


    #map {
        height: 100vh; /* altura da tela inteira */
        width: 100vw;  /* largura da tela inteira */
    }

    .desativar_mobile{
        display: none;
    }

    #addressSearch{
        position: fixed;
        top: 10%;
        left: 50%;
        transform: translate(-50%, -50%); /* Centraliza a janela */
        z-index: 11;
        background: none;
        box-shadow: none;
        width: 100%;
    }

    #addressSearch input{
        border-radius: 25px;
        height: 25px;

    }

    /* Ajusta outros elementos, se necessário */
    .map_zone {
        display: flex;
        flex-direction: column;
        height: 100vh; /* altura da tela inteira */
        margin: 0;
        padding: 0;
    }

    .filters {
        display: none; /* Oculta os filtros em telas pequenas, se desejado */
    }

    #addNewLocalWindow, #selectLocalConfirm, #sidePanel {
        display: none; /* Oculta outras seções se necessário */
    }

    .filters_mobile{
        display: flex;
        position: fixed; /* Fixa a posição na tela */
        overflow-x: auto;
        white-space: nowrap;
        top: 20%;
        width: 100vw;
        transform: translate(0%, -50%); /* Centraliza a janela */ 
        border-radius: 8px;
        padding: 20px;
        z-index: 11;
        scrollbar-width: none; /* firefox */
    }

    .filter-button{
        display: inline-block;
        background-color: #CF1684; 
        color: white; 
        border: none; 
        border-radius: 5px;
        padding: 12px 20px; 
        font-size: 16px; 
        cursor: pointer; 
        margin: 10px 10px 10px 0; 
        transition: background-color 0.3s; 
        border-radius: 25px;
    }

    .filters_mobile::-webkit-scrollbar {
        display: none; /* Para Chrome, Safari e Opera */
    }
    

    .userButtonMobile{

    }

}

   