* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}


:root {
    --cor-fonte: #FFFF;
    --cor-fonte2: #000;
    --cor-fonte3: #c70074d2;
    --cor-bar: #f5f5f5;
    --cor-fundo: #f80091bd;
    --cor-fundo2: #d12089;
    --cor-fundo3: rgba(26, 52, 137, 0.753);
}

.area-login {
    margin-top: -50px;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

h1 {
    color: var(--cor-fonte2);
    font-size: 38px;
    text-transform: capitalize;
    text-align: center;
    overflow: hidden;
}

h3 {
    color: var(--cor-fonte2);
    text-align: start;
    font-size: 20px;
}

h3 .lr {
    margin-top: 10px;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--cor-bar);
    border-radius: 10px;
    width: auto;
    height: auto;
    padding: 2%;
}

section.area-login {
    justify-content: center;
    align-items: center;
    padding: 35px;
    display: flex;
}

.login form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.login input {
    margin-top: 10px;
    border: none;
    height: 45px;
    outline: none;
    border-radius: 8px;
    width: 100%;
}

.login::placeholder {
    color: var(--cor-fonte2);
    font-size: 14px;
}

.area-login a {
    color: var(--cor-fonte3);
    text-decoration: none;
    margin-left: 10px;
}

.area-login p {
    color: var(--cor-fonte2);
    font-size: 14px;
}

.form-group {
    width: 100%;
    height: 100%;
    padding: 5px;
    overflow: hidden;
}

.botao {
    height: 50px;
    width: 80px;
    border-radius: 5px;
    background-color: var(--cor-fundo2);
    color: var(--cor-fonte);
    border: none;
    cursor: pointer;
}

.text-center {
    width: 100%;
    display: flex;
    justify-content: center;
    height: auto;
}

button#save-btn {
    width: 150px;
    height: 40px;
    background: var(--cor-fundo);
    color: var(--cor-fonte);
    border: none;
    border-radius: 15px;
}

section .validation-error {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
    background-color: rgba(255, 0, 0, 0.568);
    border: 1px solid red;
}

section .validation-sucess {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
    background-color: rgba(9, 255, 0, 0.568);
    border: 1px solid rgb(21, 255, 0);
}

section#valid {
    height: 70%;
}
section#valid-sucess {
    height: 70%;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .login {
        width: auto;
        height: auto;
    }
    
}