/* Inicio Barra Lateral */

:root {
    --cor-fonte: #FFFF;
    --cor-fonte2: #000;
    --cor-fonte3: #c70074d2;
    --cor-bar: #ffffff;
    --cor-fundo: #f80091bd;
    --cor-fundo2: #d12089;
    --cor-fundo3: rgba(0, 33, 123, 0.562);
    --cor-fundo4: rgba(0, 14, 54, 0.658);
}


* {
    margin: 0;
    padding: 0;
}

.nav-list a {
    color: var(--cor-fonte2);
    text-decoration: none;
    transition: 0.3s;
    font-size: 14px;
}

.nav-list a:hover {
    opacity: 0.7;
}

.logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background: #f5f5f5f5;
    height: 8vh;
    overflow: hidden;
}

.mob {
    display: none;
}

.nav-list {
    list-style: none;
    display: flex !important;
    z-index: 1;
}

.nav-list a:hover {
    color: #d12089;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}

section.mobile-menu {
    display: none;
}

.mobile-menu section {
    width: 32px;
    height: 2px;
    background: var(--cor-fonte2);
    margin: 8px;
    transition: 0.3s;
}


.mob-og {
    display: none;
}

a.pc-og {
    display: block;
}

body.dark nav {
    background-color: #010c1a;
}

body.dark .nav-list a {
    color: var(--cor-fonte);
}

body.dark .nav-list.active {
    background-color: #010c1a;
    opacity: 1;

}

body.dark .mobile-menu section {
    background: var(--cor-fonte);
}

@media screen and (max-width: 999px) {
    body {
        overflow-x: hidden;
    }

    a.mob-og {
        display: block;
    }

    .nav-list {
        position: fixed;
        /* Fixa no viewport */
        top: 0;
        right: 0;
        width: 50vw;
        /* Ocupa metade da tela */
        height: 100vh;
        /* Ocupa toda a altura da tela */
        background-color: rgba(0, 0, 0, 0.9);
        /* Fundo escuro */
        display: none;
        /* Escondido por padrão */
        opacity: 0;
        visibility: hidden;
        z-index: 1000;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: opacity 0.3s ease, visibility 0.3s ease;
    }


    .nav-list a:hover {
        color: #d12089;
        /* Cor de hover */
    }

    .nav-list li {
        list-style: none;
        margin: 15px 0;
    }


    .mob-og button {
        display: inline-flex;
        color: var(--cor-fonte);
        background-color: var(--cor-fundo2);
        border: 1px solid var(--cor-fundo2);
        border-radius: 15px;
        padding: 10px 5px;
        width: 70px;
        transition: all .42s ease;
    }

    .mob-og button:hover {
        color: var(--cor-fundo2);
        background-color: var(--cor-fonte);
        transition: 0.5 ease;
    }

    .pc-og {
        display: none;
    }

    .mobile-menu {
        display: block;
        cursor: pointer;
        z-index: 2000;
        /* Para estar acima do menu */
    }
}

@media screen and (min-width: 320px) and (max-width: 998px) {

    section.mobile-menu {
        display: block;
        cursor: pointer;
        overflow-x: hidden;
    }

    body {
        overflow-x: hidden;
    }

    .nav-list {
        position: fixed;
        /* Fixa no viewport */
        top: 0;
        right: 0;
        width: 50vw;
        /* Ocupa metade da tela */
        height: 100vh;
        /* Ocupa toda a altura da tela */
        background-color: var(--cor-bar);
        /* Fundo escuro */
        display: none;
        /* Escondido por padrão */
        opacity: 0;
        visibility: hidden;
        z-index: 1000;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        transition: opacity 0.3s ease, visibility 0.3s ease;
    }

    .nav-list.active {
        display: flex;
        /* Mostra o menu */
        opacity: 1;
        visibility: visible;
    }

    .pc-og {
        display: none;
    }

    .mob-og button {
        display: block;
        color: var(--cor-fonte);
        background-color: var(--cor-fundo2);
        border: 1px solid var(--cor-fundo2);
        border-radius: 15px;
        padding: 10px;
        width: 90px;
        transition: all .42s ease;
    }

    .mob-og button:hover {
        color: var(--cor-fundo2);
        background-color: var(--cor-fonte);
        transition: 0.5 ease;
    }

    @keyframes navLinkFade {
        from {
            opacity: 0;
            transform: translateX(50px);
        }

        to {
            opacity: 1;
            transform: translateX(0);
        }
    }

    .mobile-menu .line1,
    .mobile-menu .line2,
    .mobile-menu .line3 {
        width: 30px;
        height: 3px;
        background-color: black;
        margin: 5px;
        transition: all 0.3s ease;
    }

    .mobile-menu.active .line1 {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .mobile-menu.active .line2 {
        opacity: 0;
    }

    .mobile-menu.active .line3 {
        transform: rotate(45deg) translate(-5px, -6px);
    }

}