.title-prod, .price, .caminho_prod, .descricao {
    position: relative; /* Certifique-se de que o contêiner pai tenha um contexto de posicionamento */
}
.edit-title-prod, .edit-price, .edit-caminho_prod {
    display: none;
}

.caminho_prod a h3, .descricao h2 {
    padding-top: 40px;
}



h5 {
    position: absolute;
    top: 1%;
    right: 13px; /* Mude 'left' para 'right' */
    color: #f72ba5;
    font-size: 1.2em;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;

    width: auto;
    height: 40px;
}

h5:hover {
    cursor: pointer;
    color: #fa6dc2;
}
