@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

:root {
    --cor-fonte: #FFFF;
    --cor-fonte2: #000;
    --cor-fonte3: #c70074d2;
    --cor-bar: #f5f5f5;
    --cor-bar-dark: #010c1aa9;
    --cor-bar-dark-mob: #010c1a;
    --cor-fundo: #f80091bd;
    --cor-fundo2: #d12089;
    --cor-fundo3: rgba(0, 33, 123, 0.562);
    --cor-fundo4: rgb(235, 235, 235);
    --cor-fundo5: #12488ded;
    --cor-fundo-body: #010c1aed;
}


* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

section {
    transition: all 0.3s ease;
}

section.historico{
    padding: 2% 20%;
}

h2 {
    padding: 25px;
    overflow: hidden;
    align-items: center;
}

a {
    color: var(--cor-fonte2);
}

a:hover {
    color: var(--cor-fundo2);
}

.infos {
    flex-wrap: nowrap;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.account {
    transition: all 0.3s ease;
    border-radius: 15px;
    box-sizing: border-box;
    background: rgb(247, 247, 247);
    padding: 48px;
    display: grid;
    gap: 35px;
    grid-template-columns: repeat(2, auto);
    width: 100%;
}

.infos {
    overflow: hidden;
}

.nog {
    display: flex;
    flex-direction: column;
    margin: 5%;
}

.desc {
    border-radius: 25px;
    background: rgb(255, 255, 255);
    padding: 16px;
    height: 100%;
    box-sizing: border-box;
    list-style-type: none;

}

.sair-btn button {
    display: inline-flex;
    color: var(--cor-fonte);
    background-color: var(--cor-fundo2);
    border: 1px solid var(--cor-fundo2);
    border-radius: 15px;
    padding: 10px 5px;
    width: 70px;
    transition: all .42s ease;
}

.sair-btn button:hover {
    color: var(--cor-fundo2);
    background-color: var(--cor-fonte);
    transition: 0.5 ease;
}

.login-btn button {
    display: inline-flex;
    color: var(--cor-fonte);
    background-color: var(--cor-fundo2);
    border: 1px solid var(--cor-fundo2);
    border-radius: 15px;
    padding: 10px 5px;
    width: 170px;
    transition: all .42s ease;
    cursor: pointer;
}

.login-btn button:hover {
    color: var(--cor-fundo2);
    background-color: var(--cor-fonte);
    transition: 0.5 ease;
}

i.bi.bi-person {
    width: 95%;
}

span {
    color: var(--cor-fundo2);
}

/* Alterar tipo de conta */

.input-form {
    display: flex;
    width: 100%;
    background: #f5f5f5;
    border-radius: 8px;
    border: solid #002f72b3 2px;
    height: 40px;
}

/* input:focus-visible {
    border: solid 2px var(--cor-fundo2) !important;
} */

label:focus-visible {
    border: solid 2px var(--cor-fundo2) !important;
}

section.form-group {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: flex-start;
    padding: 0px 10px;
    width: 100%;
}

section .account-alter {
    transition: all 0.3s ease;
    border-radius: 15px;
    box-sizing: border-box;
    background: rgb(247, 247, 247);
    padding: 48px;
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.form-group label {
    width: 70%;
}

body.dark{
    .account{
        background-color: var(--cor-bar-dark);
    }

    .desc{
        background-color: grey;
    }
    .desc a{
        color: var(--cor-fonte);
    }
}

@media screen and (min-width: 320px) and (max-width: 650px) {

    section {
        padding: 0px;
        transition: all 0.3s ease;
    }

    .account {
        display: grid;
        gap: 35px;
        grid-template-columns: repeat(1, auto);
        width: 100%;
    }
}