:root {
    --cor-fonte: #FFFF;
    --cor-fonte2: #000;
    --cor-fonte3: #c70074d2;
    --cor-bar: #f5f5f5;
    --cor-fundo: #f80091bd;
    --cor-fundo2: #d12089;
    --cor-fundo3: rgba(0, 33, 123, 0.562);
    --cor-fundo4: rgba(0, 54, 201, 0.631);
}

body {
  background-color: var(--cor-fonte);
}

.wrapper {
  width: 95%;
  margin: 0 auto;
}

#search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1em 0;
}

#search-container input {
  background-color: transparent;
  width: 40%;
  border: 0;
  border-bottom: 2px solid;
  padding: 1em 0.3em;
}

#search-container input:focus {
  border: 0;
  border-bottom: 2px solid #6759ff;
}

#search-container button {
  padding: 1em 2em;
  margin-left: 1em;
  background-color: var(--cor-fundo3);
  color: #ffffff;
  font-size: 15px;
  border-radius: 15px;
  margin-top: 0.5em;
  border: 0;
}

.button-value {
  border: 0;
  padding: 1em 2.2em;
  border-radius: 15px;
  background-color: var(--cor-fundo3);
  cursor: pointer;
  color: white;
}

.active {
  background-color: var(--cor-fundo4);
  color: var(--cor-fonte);
}

#products {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 1.5em;
  padding: 2em 0;
}

.card {
  background-color: #f5f5f5;
  max-width: 18em;
  margin-top: 1em;
  padding: 1em;
  border-radius: 5px;
}

.image-container {
  text-align: center;
}

img {
  max-width: 100%;
  object-fit: contain;
  height: 15em;
  mix-blend-mode:multiply;
}

.container {
  padding-top: 1em;
  color: #110f29;
}

.container h5 {
  font-weight: 500;
}

.hide {
  display: none;
}

#buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  flex-wrap: wrap;
  gap: 1rem;
}

.img-inic img {
  width: 100%;
  height: 50%;
}


@media screen and (max-width: 720px) {
  img {
    max-width: 100%;
    object-fit: contain;
    height: 10em;
  }

  .card {
    max-width: 10em;
    margin-top: 1em;
  }

  #products {
    grid-template-columns: auto auto;
    grid-column-gap: 1em;
  }

  #buttons {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 1rem;
  }
}