    * {
        overflow-x: hidden;
    }

    :root {
        --cor-fonte: #FFFF;
        --cor-fonte2: #000;
        --cor-fonte3: #c70074d2;
        --cor-bar: #f5f5f5;
        --cor-fundo: #f80091bd;
        --cor-fundo2: #d12089;
        --cor-fundo3: rgb(37, 37, 37);
    }

    /* Estilos do carrossel */
    section.slider {
        margin: 0 auto;
        width: 100%;
        height: auto;
        padding: 0 !important;
        overflow: hidden;
    }

    .slider-content {
        width: 400%;
        height: auto;
        display: flex;
    }

    .slider-content input,
    .img-mobile {
        display: none;
    }

    .slide-box {
        width: 25%;
        position: relative;
        text-align: center;
        transition: 1s;
        padding: 35px;
    }

    .slide-box img {
        width: 70%;
    }

    .nav-manual,
    .nav-auto {
        position: absolute;
        width: 100%;
        margin-top: 36.5%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-manual .manual-btn,
    .nav-auto section {
        align-items: center;
        justify-content: center;
        border-bottom: 2px solid var(--cor-fundo);
        padding: 10px;
        border-radius: 10%;
        cursor: pointer;
        transition: 0.2s;
    }

    .nav-manual .manual-btn:not(:last-child),
    .nav-auto section:not(:last-child) {
        margin-right: 10px;
    }

    .nav-manual .manual-btn:hover {
        height: 5px;
        background-color: var(--cor-fundo3);
    }

    #radio1:checked~.nav-auto .auto-btn1,
    #radio2:checked~.nav-auto .auto-btn2,
    #radio3:checked~.nav-auto .auto-btn3 #radio4:checked~.nav-auto .auto-btn4 {
        background-color: var(--cor-fundo3);
    }

    #radio1:checked~.primeiro {
        margin-left: 0%;
    }

    #radio2:checked~.primeiro {
        margin-left: -25%;
    }

    #radio3:checked~.primeiro {
        margin-left: -50%;
    }

    #radio4:checked~.primeiro {
        margin-left: -75%;
    }

    section {
        padding: 0;
    }

    .espt-img {
        width: 100%;
        height: 70vh;
        padding: 35px;
        overflow: hidden;
        margin-bottom: 2rem;
    }

    .espt-img img {
        width: 100%;
    }

    @media screen and (min-width: 1000px) and (max-width: 1024px){
        .espt-img-pc img{
            width: 100%;
        }

        img.inic-espt-mob {
            display: none;
        }
        
    }


    @media screen and (min-width: 320px) and (max-width: 999px) {

        .slide-box img {
            width: 100%;
            padding: 7px;
        }


        .slide-box {
            padding: 15px;
        }

        .img-desktop {
            display: none;
        }

        .img-mobile {
            display: block;
        }

        .nav-auto,
        .nav-manual {
            margin-top: 93%;
        }

    }