:root {
    --cor-fonte: #FFFF;
    --cor-fonte2: #000;
    --cor-fonte3: #c70074d2;
    --cor-bar: #f5f5f5;
    --cor-fundo: #f80091bd;
    --cor-fundo2: #d12089;
    --cor-fundo3: rgb(37, 37, 37);
}

.tamanhos input:focus {
    outline: none;
}


.start-text h2 {
    color: var(--cor-fonte2);
    font-size: 20px;
    text-transform: capitalize;
    text-align: start;
    margin-bottom: 15px;
}

.start-text span {
    color: var(--cor-fonte3);
}
@media screen and (min-width: 310px) and (max-width: 500px) {
    .tamanhos {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: auto;
        align-items: start;
        justify-content: center;
    }

    .tamanhos h2 span{
        font-size: 16px;
    }
    
}
