:root {
    --cor-fonte: #FFFF;
    --cor-fonte2: #000;
    --cor-fonte3: #c70074d2;
    --cor-bar: #f5f5f5;
    --cor-fundo: #f80091bd;
    --cor-fundo2: #d12089;
    --cor-fundo3: rgb(37, 37, 37);
}



/* Codigo de formatação dos quadradinhos do size */
.tamanhos {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: 44px;
    grid-column-gap: 0;
    grid-row-gap: 0px;
    color: var(--cor-fonte3);
    align-items: start;
    justify-content: center;
}

.tamanhos select {
    font-size: 18px;
    border: solid 1px;
    border-radius: 10px;
    width: 70px;
    transform: translate(0.1 ease);
}

.tamanhos select {
    background-color: var(--cor-fonte);
    display: block;
    padding: 5px, 10px;
    margin-left: 10px;
    border: 1px solid var(--cor-fundo2);
}


.tamanhos input {
    background-color: var(--cor-fonte);
    width: 70px;
    height: 40px;
    padding-left: 15px;
    font-size: 16px;
    margin-left: 10px;
    border: 1px solid var(--cor-fundo2);
    border-radius: 10px;
}

.tamanhos input:focus {
    outline: none;
}

.tamanhos #quant_error {
    margin-top: 5px;
    width: 345px;
    font-size: 15px;
    color: #C62828;
    background: rgb(255, 0, 0, 0.1);
    text-align: center;
    padding: 5px 8px;
    border-radius: 3px;
    border: 1px solid #EF9A9A;
    display: none;
}

.start-text h2 {
    color: var(--cor-fonte2);
    font-size: 20px;
    text-transform: capitalize;
    text-align: start;
    margin-bottom: 15px;
}

.start-text span {
    color: var(--cor-fonte3);
}
@media screen and (min-width: 310px) and (max-width: 500px) {
    .tamanhos {
        display: grid;
        grid-template-columns: repeat(2, 104px);
        grid-template-rows: 31px;
        align-items: start;
        justify-content: center;
    }

    .tamanhos h2 span{
        font-size: 16px;
    }
    
}
