:root {
    --cor-fonte: #FFFF;
    --cor-fonte2: #000;
    --cor-fonte3: #c70074d2;
    --cor-bar: #ffffff;
    --cor-fundo: #f80091bd;
    --cor-fundo2: #d12089;
    --cor-fundo3: rgb(37, 37, 37);
}

.center-text h2 {
    color: var(--cor-fonte2);
    font-size: 28px;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 30px;
}

.center-text span {
    color: var(--cor-fonte3);
}

.center-text-camisas h2 {
    padding: 4% 1% 3%;
    color: var(--cor-fonte2);
    font-size: 20px;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 30px;
}

.center-text-camisas span {
    color: var(--cor-fonte3);
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 250px));
    padding: 45px;
    gap: 2rem;
    width: 82%;
    margin-left: 10%;
}

.row {
    position: relative;
    transition: all .40s;
    border: 1px solid rgba(128, 128, 128, 0.253);
    padding: 10px;
}

.row img {
    width: 100%;
    height: 228px;
    transition: all .40s;
}

.row img:hover {
    transform: scale(0.9);
}

.product-text h5 {
    position: absolute;
    top: 13px;
    left: 13px;
    color: var(--cor-fonte);
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    background-color: #3d5affcc;
    padding: 3px 10px;
    border-radius: 2px;
}

.heart-icon {
    position: absolute;
    right: 0;
    font-size: 20px;
    cursor: pointer;
}

.heart-icon:hover {
    color: #ff2929;
}

.ratting i {
    color: #FFD700;
    font-size: 18px;
}

.price {
    color: var(--cor-fonte2);
    font-size: 16px;
    font-weight: 400;
}

.price p {
    color: #151515;
    font-size: 14px;
    font-weight: 400;
}

section.desc-price {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

section.desc-outher {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.desc-price .desconto {
    border: 1px solid rgba(128, 128, 128, 0.253);
    font-size: 14px;
    padding: 10px;
    border-radius: 10px;
    color: red;
}

.desc-outher .estoque {
    color: #00cf00fa;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    font-size: 16px;
}

.ballr {
    background-color: red;
    border-radius: 50%;
    width: 15px;
}

.prod-colors {
    display: flex;
    gap: 1px;
    flex-direction: row;
    width: 20%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.ballr {
    background-color: red;
    border-radius: 50%;
    width: 15px;
    height: 15px;
}

.ballg {
    background-color: rgb(0, 202, 0);
    border-radius: 50%;
    width: 15px;
    height: 15px;
}

.ballb {
    background-color: rgb(0, 17, 255);
    border-radius: 50%;
    width: 15px;
    height: 15px;
}

.ballwht {
    background-color: #FFFF;
    border-radius: 50%;
    border: 0.5px solid black;
    width: 15px;
    height: 15px;
}

.ballblck {
    background-color: #0000;
    border-radius: 50%;
    border: 0.5px solid #FFF;
    width: 15px;
    height: 15px;
}

.balla {
    background-color: rgb(251, 255, 0);
    border-radius: 50%;
    width: 15px;
    height: 15px;
}

.ballp {
    background-color: rgb(255, 117, 232);
    border-radius: 50%;
    width: 15px;
    height: 15px;
}

.price .cores {
    margin-left: 5px;
}


@media screen and (max-width: 1024px) {
    .price .cores {
        margin-left: 0px;
    }
}

/* Product page */



@media screen and (min-width: 320px) {
    .center-text h2 {
        font-size: 18px;
    }

    .prod-center-text h2 {
        font-size: 18px;
    }

}

.error {
    border: solid 1px red;
}