<head>
    <link rel="stylesheet" href="css/codes/assinatura-card.css">
    
</head>


<section class="assinatura-info" >
    <section class="assinatura-text" id="card-black">
        <h2>+SPORT 10 É FAIXA</h2>
        <p>Esta assinatura prioriza suas postagens da melhor forma possível em nosso site, aparecendo inclusive na área dos locais esportivos. </p>
        <h3><i class="bi bi-badge-ad"></i>Banner Proprio do Produto</h3>
        <h3><i class="bi bi-graph-up-arrow"></i>Destaque Maximo na Pagina</h3>
        <h3><i class="bi bi-geo-alt"></i>Recomendaçõe em Busca de Locais</h3>
        <h3><i class="bi bi-search"></i>Aparecer no Campo de Busca</h3>
        <h3><i class="bi bi-lightbulb"></i>Adicionar Produto no site</h3>
        <p class="cancel-text">A assinatura pode ser cancelada em até 24 Horas (Terá uma pequena taxa). Consulte os termos da MaisSport para saber mais detalhes sobre como cancelar.</p>
    </section>
    
    <section class="assinatura-text" id="card-medio">
        <h2>+SPORT É CRAQUE</h2>
        <p>Esta assinatura prioriza suas postagens de forma moderada. </p>
        <h3><i class="bi bi-dribbble"></i>Recomendação por parte da +Sport</h3>
        <h3><i class="bi bi-graph-up-arrow"></i>Destaque nas principais paginas</h3>
        <h3><i class="bi bi-search"></i>Aparecer no Campo de Busca</h3>
        <h3><i class="bi bi-lightbulb"></i>Adicionar Produto no site</h3>
        <p class="cancel-text">A assinatura pode ser cancelada em até 24 Horas (Terá uma pequena taxa). Consulte os termos da MaisSport para saber mais detalhes sobre como cancelar.</p>
    </section>

    <section class="assinatura-text" id="card-basico">
        <h2>+SPORT 10 É FAIXA</h2>
        <p>Esta assinatura prioriza suas postagens da melhor forma possível em nosso site, aparecendo inclusive na área dos locais esportivos. </p>
        <h3><i class="bi bi-search"></i>Aparecer no Campo de Busca</h3>
        <h3><i class="bi bi-lightbulb"></i>Adicionar Produto no site</h3>
        <p class="cancel-text">A assinatura pode ser cancelada em até 24 Horas (Terá uma pequena taxa). Consulte os termos da MaisSport para saber mais detalhes sobre como cancelar.</p>
    </section>


    <section class="assinatura-data">
        <h3>Escolha um plano de assinatura</h3>

        <label for="input-1">
            <div class="plan">
                <input type="radio" name="plan" id="input-1" value="1" checked>
                <i class="bi bi-circle"></i>
                <i class="bi bi-check-circle-fill radiodesativo"></i>
                <div>
                    Assinatura de 1 meses
                    <p>Pague a cada mês. A assinatura continuará ativa até ser cancelada.</p>
                    <div class="price">R$105,00</div>
                </div>
            </div>
        </label>
      
        <label for="input-2">
            <div class="plan">
                <input type="radio" name="plan" id="input-2" value="3">
                <i class="bi bi-circle"></i>
                <i class="bi bi-check-circle-fill radiodesativo"></i>
                <div>
                    Assinatura de 3 meses
                    <p>Pague a cada 3 meses. A assinatura continuará ativa até ser cancelada.</p>
                    <div class="price">R$283,50</div>
                </div>
            </div>
        </label>
      
        <label for="input-3">
            <div class="plan">
                <input type="radio" name="plan" id="input-3" value="6">
                <i class="bi bi-circle"></i>
                <i class="bi bi-check-circle-fill radiodesativo"></i>
                <div>
                    Assinatura de 6 meses
                    <p>Pague a cada 6 meses. A assinatura continuará ativa até ser cancelada.</p>
                    <div class="price">R$357.00</div>
                </div>
            </div>
        </div>

        <section class="backNext">
            <button type="button" class="nextButton" onclick="NextAddProduct(1)">
                Proximo
            </button>
        </section>
    </section>
    
</section>
<script src="js/add-product.js"></script> 
