<footer>
    <section id="footer_content">
        <section id="footer_contacts">
            <figure class="footer-logo"><img src="imagem/icon-msports.jpg"></figure>
            <p>Explore, Equipe-se, e Inspire-se com <br>+Sports: O Seu Portal para o Mundo do Esporte!</p>
            <section id="footer_social_media">
                <a href="https://www.instagram.com/_maisport/" class="footer-link" id="instagram">
                    <i class="bi bi-instagram"></i>
                </a>
                <a href="https://github.com/astr0ns" class="footer-link" id="github">
                    <i class="bi bi-github"></i>
                </a>
                <a href="https://fiebedu.sharepoint.com/sites/SPORT" class="footer-link" id="sharepoint">
                    <img class="footer-social-medias" src="imagem/sharepoint-logotype.png" alt="">
                </a>
            </section>
        </section>
        <ul class="footer-list">
            <li>
                <h3>blog</h3>
            </li>
            <li>
                <a href="index" class="footer-link">Inicio</a>
            </li>
            <li>
                <a href="#" class="footer-link">Categorias</a>
            </li>
            <li>
                <a href="#" class="footer-link">Ajuda</a>
            </li>
            <li>
                <a href="empresas" class="footer-link">Empresas</a>
            </li>
        </ul>
        <ul class="footer-list">
            <li>
                <h3>Products</h3>
            </li>
            <li>
                <a href="" class="footer-link">Camisetas</a>
            </li>
            <li>
                <a href="" class="footer-link">Acessórios</a>
            </li>
            <li>
                <a href="locais-esportivos" class="footer-link">Locais Esportivos</a>
            </li>
        </ul>
        <section id="footer_subscribe">
            <h3>subscribe</h3>
            <p>
                Gostaria de receber promoções?<br>
                Digite seum e-mail
            </p>

            <section id="input_group">
                <input type="email" id="email">
                <button>
                    <i class="bi bi-envelope"></i>
                </button>
            </section>
        </section>
    </section>
    </section>

    <section id="footer_copyright">
        &#169
        2023 All rights reserves for Samuel Heitor and TCC
    </section>
</footer>