<head>
    <link rel="stylesheet" href="css/codes/interface.css">
    <link rel="stylesheet" href="css/codes/nav-bar.css">
    
</head>

<header>
    <nav>
        <a class="logo" href="/"><img src="/imagem/LOGO.png" alt="Logo"></a>
        <section class="mobile-menu">
            <section class="line1"></section>
            <section class="line2"></section>
            <section class="line3"></section>
        </section>
        <ul class="nav-list">
            <li>
                <section class="trilho" id="trilho">
                    <section class="indicador"></section>
                </section>
            </li>
            <li><a href="/">Inicio</a></li>
            <% if (email == undefined) { %>
                <li><a href="/login">Curtidos/Reservas</a></li>
            <% } else { %>
                <li><a href="/itens-curtidos">Curtidos/Reservas</a></li>
            <% } %>
            <li><a href="/locais-esportivos">Locais Esportivos</a></li>
            <% if (email == undefined) { %>
                <li><a href="/login">Entrar</a></li>
            <% } else { %>
                <li><a href="/verSeEmpresa">Perfil</a></li>
                <li><a href="/fazerLogout">Sair</a></li>
            <% } %>
        </ul>
    </nav>
</header>


<section class="box-2">
    <input type="checkbox" id="check-2">
    <section class="search-box-2">
        <input id="search-input" type="text" placeholder="Pesquise aqui...">
        <label for="check-2" class="icon-2">
            <i class='bx bx-search'></i>
        </label>
    </section>
</section>

<script src="js/toggleMode.js"></script>
<script src="/js/locais.js"></script> 