<section class="trending-products" id="trending">
     <section class="products">
        <section class="row">
            <a href="/product-page"><img
                    src="https://imgnike-a.akamaihd.net/768x768/01113851A10.jpg"
                    alt="" srcset=""></a>
            <section class="product-text">
                <h5>NEW</h5>
            </section>
            <section class="heart-icon">
                <i class='bx bx-heart'></i>
            </section>
            <section class="ratting">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-half"></i>
            </section>
            <section class="price">
                <h4>Nike Air Force 1 Mid "07</h4>
                <section class="desc-price">
                    <p class="desconto">-13%</p>
                    <section class="preco">
                        <p>$ 854,99 no PIX</p>
                        <p>6 x R$119,98</p>
                    </section>
                </section>
                <section class="desc-outher">
                    <p class="estoque">em estoque</p>
                    <section class="prod-colors">
                        <p class="cores">cores</p>
                        <section class="ballwht"></section>
                    </section>
                </section>
                
            </section>
        </section>

        <section class="row">
            <img src="https://imgnike-a.akamaihd.net/768x768/0287397TA8.jpg"
                alt="" srcset="">
            <section class="product-text">
                <h5>NEW</h5>
            </section>
            <section class="heart-icon">
                <i class='bx bx-heart'></i>
            </section>
            <section class="ratting">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-half"></i>
            </section>
            <section class="price">
                <h4> Nike Court Vision Next Nature Essential</h4>
                <section class="desc-price">
                    <p class="desconto">37% off</p>
                    <section class="preco">
                        <p>R$ 408,49 no Pix</p>
                        <p>6 x R$ 68.08</p>
                    </section>
                </section>
                <section class="desc-outher">
                    <p class="estoque">em estoque</p>

                    <section class="prod-colors">
                        <p class="cores">cores</p>
                        <section class="ballwht"></section>
                    </section>
                </section>
            </section>
        </section>

        <section class="row">
            <img src="https://imgnike-a.akamaihd.net/768x768/02769151A8.jpg"
                alt="" srcset="">
            <section class="product-text">
                <h5>NEw</h5>
            </section>
            <section class="heart-icon">
                <i class='bx bx-heart'></i>
            </section>
            <section class="ratting">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-half"></i>
            </section>
            <section class="price">
                <h4>Tênis Nike SB Ishod 2</h4>
                <section class="desc-price">
                    <p class="desconto">35% off</p>
                    <section class="preco">
                        <p>R$588,99 no Pix</p>
                        <p>6 x R$98.16</p>
                    </section>
                </section>
                <section class="desc-outher">
                    <p class="estoque">em estoque</p>

                    <section class="prod-colors">
                        <p class="cores">cores</p>
                        <section class="ballr"></section>
                        <section class="ballwht"></section>
                    </section>
                </section>
            </section>
        </section>

        <section class="row">
            <img src="https://imgnike-a.akamaihd.net/768x768/029411IDA8.jpg"
                alt="" srcset="">
            <section class="product-text">
                <h5>NEW</h5>
            </section>
            <section class="heart-icon">
                <i class='bx bx-heart'></i>
            </section>
            <section class="ratting">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-half"></i>
            </section>
            <section class="price">
                <h4>TÊNIS NIKE KYRIE 8</h4>
                <section class="desc-price">
                    <p class="desconto">-13%</p>
                    <section class="preco">
                        <p>R$719,90</p>
                        <p>10 x 71,99</p>
                    </section>
                </section>
                <section class="desc-outher">
                    <p class="estoque"> em estoque</p>

                    <section class="prod-colors">
                        <p class="cores">cores</p>
                        <section class="ballr"></section>
                        <section class="ballg"></section>
                        <section class="ballb"></section>
                        <section class="balla"></section>
                        <section class="ballp"></section>
                    </section>
                </section>
            </section>
        </section>

        <section class="row">
            <img src="https://artwalk.vteximg.com.br/arquivos/ids/245877-1000-1000/Tenis-Nike-Kyrie-Infinity-Masculino-Preto.jpg?v=637868345156730000"
                alt="" srcset="">
            <section class="product-text">
                <h5>NEW</h5>
            </section>
            <section class="heart-icon">
                <i class='bx bx-heart'></i>
            </section>
            <section class="ratting">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-half"></i>
            </section>
            <section class="price">
                <h4>TÊNIS NIKE KYRIE 8</h4>
                <section class="desc-price">
                    <p class="desconto">-13%</p>
                    <section class="preco">
                        <p>R$719,90</p>
                        <p>10 x 71,99</p>
                    </section>
                </section>
                <section class="desc-outher">
                    <p class="estoque"> em estoque</p>
                    <section class="prod-colors">
                        <p class="cores">cores</p>
                        <section class="ballr"></section>
                        <section class="ballg"></section>
                        <section class="ballb"></section>
                        <section class="balla"></section>
                        <section class="ballp"></section>
                    </section>
                </section>
            </section>
        </section>
    </section>

    <section class="center-text-camisas">
        <h2>Camisas de <span>Time</span></h2>
    </section>

    <section class="products">
        <section class="row">
            <img src="https://artwalk.vteximg.com.br/arquivos/ids/234008-1000-1000/Camiseta-Jordan-X-PSG-Statement-Masculina-Azul.jpg?v=637569609852970000"
                alt="" srcset="">
            <section class="product-text">
                <h5>Sale</h5>
            </section>
            <section class="heart-icon">
                <i class='bx bx-heart'></i>
            </section>
            <section class="ratting">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-half"></i>
            </section>
            <section class="price">
                <h4>CAMISETA JORDAN X PSG STATEMENT MASCULINA</h4>
                <section class="desc-price">
                    <p class="desconto">-13%</p>
                    <section class="preco">
                        <p>R$:219,99</p>
                        <p>5 x R$:44,99</p>
                    </section>
                </section>
            </section>
            <section class="desc-outher">
                <p class="estoque"> em estoque</p>
                <section class="prod-colors">
                    <p class="cores">cores</p>
                    <section class="ballr"></section>
                    <section class="ballg"></section>
                    <section class="ballb"></section>
                    <section class="balla"></section>
                    <section class="ballp"></section>
                </section>
            </section>
        </section>

        <section class="row">
            <img src="https://artwalk.vteximg.com.br/arquivos/ids/226755-1000-1000/Camiseta-Nike-Nigeria-Home-Masculina-Multicolor.jpg?v=637365525893670000"
                alt="" srcset="">
            <section class="product-text">
                <h5>Sale</h5>
            </section>
            <section class="heart-icon">
                <i class='bx bx-heart'></i>
            </section>
            <section class="ratting">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-half"></i>
            </section>
            <section class="price">
                <h4>CAMISETA NIKE NIGERIA HOME MASCULINA</h4>
                <section class="desc-price">
                    <p class="desconto">-13%</p>
                    <section class="preco">
                        <p>R$:249,99</p>
                        <p>5 x R$:49,99</p>
                    </section>
                </section>
            </section>
            <section class="desc-outher">
                <p class="estoque"> em estoque</p>
                <section class="prod-colors">
                    <p class="cores">cores</p>
                    <section class="ballr"></section>
                    <section class="ballg"></section>
                    <section class="ballb"></section>
                    <section class="balla"></section>
                    <section class="ballp"></section>
                </section>
            </section>

        </section>

        <section class="row">
            <img src="https://artwalk.vteximg.com.br/arquivos/ids/233540-1000-1000/Camiseta-Jordan-X-PSG-Masculina-Preto.jpg?v=637558982442800000"
                alt="" srcset="">
            <section class="product-text">
                <h5>Sale</h5>
            </section>
            <section class="heart-icon">
                <i class='bx bx-heart'></i>
            </section>
            <section class="ratting">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-half"></i>
            </section>
            <section class="price">
                <h4>CAMISETA JORDAN X PSG MASCULINA</h4>
                <section class="desc-price">
                    <p class="desconto">-13%</p>
                    <section class="preco">
                        <p>R$:249,99</p>
                        <p>5 x R$:49,99</p>
                    </section>
                </section>
            </section>
            <section class="desc-outher">
                <p class="estoque"> em estoque</p>
                <section class="prod-colors">
                    <p class="cores">cores</p>
                    <section class="ballr"></section>
                    <section class="ballg"></section>
                    <section class="ballb"></section>
                    <section class="balla"></section>
                    <section class="ballp"></section>
                </section>
            </section>
        </section>

        <section class="row">
            <img src="https://imgnike-a.akamaihd.net/768x768/022631ID.jpg" alt="" srcset="">
            <section class="product-text">
                <h5>Sale</h5>
            </section>
            <section class="heart-icon">
                <i class='bx bx-heart'></i>
            </section>
            <section class="ratting">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-half"></i>
            </section>
            <section class="price">
                <h4>Camisa de Goleiro Nike Brasil<br>2022 Torcedor Pro Masculina</h4>
                <section class="desc-price">
                    <p class="desconto">-13%</p>
                    <section class="preco">
                        <p>R$:249,99</p>
                        <p>5 x R$:49,99</p>
                    </section>
                </section>
            </section>
            <section class="desc-outher">
                <p class="estoque"> em estoque</p>
                <section class="prod-colors">
                    <p class="cores">cores</p>
                    <section class="ballr"></section>
                    <section class="ballg"></section>
                    <section class="ballb"></section>
                    <section class="balla"></section>
                    <section class="ballp"></section>
                </section>
            </section>
        </section>

        <section class="row">
            <img src="https://imgnike-a.akamaihd.net/768x768/02315615.jpg" alt="" srcset="">
            <section class="product-text">
                <h5>Sale</h5>
            </section>
            <section class="heart-icon">
                <i class='bx bx-heart'></i>
            </section>
            <section class="ratting">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-half"></i>
            </section>
            <section class="price">
                <h4>Camisa Nike França I 2022<br>Torcedor Pro Masculina</h4>
               <section class="desc-price">
                    <p class="desconto">-13%</p>
                    <section class="preco">
                        <p>R$:249,99</p>
                        <p>5 x R$:49,99</p>
                    </section>
                </section>
            </section>
            <section class="desc-outher">
                <p class="estoque"> em estoque</p>
                <section class="prod-colors">
                    <p class="cores">cores</p>
                    <section class="ballr"></section>
                    <section class="ballg"></section>
                    <section class="ballb"></section>
                    <section class="balla"></section>
                    <section class="ballp"></section>
                </section>
            </section>
        </section>
    </section>
</section>