<section class="trending-products" id="trending">
    <section class="products">
        <section class="row">
            <a href="/product-page"><img
                    src="https://artwalk.vteximg.com.br/arquivos/ids/321781-1000-1000/CZ020-4-400-1.jpg?v=638060295259130000"
                    alt="" srcset=""></a>
            <section class="product-text">
                <h5>NEW</h5>
            </section>
            <section class="heart-icon">
                <i class='bx bx-heart'></i>
            </section>
            <section class="ratting">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-half"></i>
            </section>
            <section class="price">
                <h4>TÊNIS NIKE KYRIE 8</h4>
                <section class="desc-price">
                    <p class="desconto">-13%</p>
                    <section class="preco">
                        <p>R$719,90</p>
                        <p>10 x 71,99</p>
                    </section>
                </section>
                <section class="desc-outher">
                    <p class="estoque">em estoque</p>
                    <section class="prod-colors">
                        <p class="cores">cores</p>
                        <section class="ballr"></section>
                        <section class="ballg"></section>
                        <section class="ballb"></section>
                        <section class="balla"></section>
                        <section class="ballp"></section>
                    </section>
                </section>
            </section>
        </section>

        <section class="row">
            <img src="https://artwalk.vteximg.com.br/arquivos/ids/320759-1000-1000/CZ020-4-002-1.jpg?v=638060290768070000"
                alt="" srcset="">
            <section class="product-text">
                <h5>NEW</h5>
            </section>
            <section class="heart-icon">
                <i class='bx bx-heart'></i>
            </section>
            <section class="ratting">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-half"></i>
            </section>
            <section class="price">
                <h4>TÊNIS NIKE KYRIE 8</h4>
                <section class="desc-price">
                    <p class="desconto">-13%</p>
                    <section class="preco">
                        <p>R$719,90</p>
                        <p>10 x 71,99</p>
                    </section>
                </section>
                <section class="desc-outher">
                    <p class="estoque">em estoque</p>

                    <section class="prod-colors">
                        <p class="cores">cores</p>
                        <section class="ballr"></section>
                        <section class="ballg"></section>
                        <section class="ballb"></section>
                        <section class="balla"></section>
                        <section class="ballp"></section>
                    </section>
                </section>
            </section>
        </section>

        <section class="row">
            <img src="https://artwalk.vteximg.com.br/arquivos/ids/245787-1000-1000/Tenis-Nike-Kyrie-Infinity-Masculino-Rosa.jpg?v=637866880636230000"
                alt="" srcset="">
            <section class="product-text">
                <h5>NEw</h5>
            </section>
            <section class="heart-icon">
                <i class='bx bx-heart'></i>
            </section>
            <section class="ratting">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-half"></i>
            </section>
            <section class="price">
                <h4>TÊNIS NIKE KYRIE 8</h4>
                <section class="desc-price">
                    <p class="desconto">-13%</p>
                    <section class="preco">
                        <p>R$719,90</p>
                        <p>10 x 71,99</p>
                    </section>
                </section>
                <section class="desc-outher">
                    <p class="estoque">em estoque</p>

                    <section class="prod-colors">
                        <p class="cores">cores</p>
                        <section class="ballr"></section>
                        <section class="ballg"></section>
                        <section class="ballb"></section>
                        <section class="balla"></section>
                        <section class="ballp"></section>
                    </section>
                </section>
            </section>
        </section>

        <section class="row">
            <img src="https://artwalk.vteximg.com.br/arquivos/ids/243750-1000-1000/Tenis-Nike-Kyrie-8-Preto.jpg?v=637819108502670000"
                alt="" srcset="">
            <section class="product-text">
                <h5>NEW</h5>
            </section>
            <section class="heart-icon">
                <i class='bx bx-heart'></i>
            </section>
            <section class="ratting">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-half"></i>
            </section>
            <section class="price">
                <h4>TÊNIS NIKE KYRIE 8</h4>
                <section class="desc-price">
                    <p class="desconto">-13%</p>
                    <section class="preco">
                        <p>R$719,90</p>
                        <p>10 x 71,99</p>
                    </section>
                </section>
                <section class="desc-outher">
                    <p class="estoque"> em estoque</p>

                    <section class="prod-colors">
                        <p class="cores">cores</p>
                        <section class="ballr"></section>
                        <section class="ballg"></section>
                        <section class="ballb"></section>
                        <section class="balla"></section>
                        <section class="ballp"></section>
                    </section>
                </section>
            </section>
        </section>

        <section class="row">
            <img src="https://artwalk.vteximg.com.br/arquivos/ids/245877-1000-1000/Tenis-Nike-Kyrie-Infinity-Masculino-Preto.jpg?v=637868345156730000"
                alt="" srcset="">
            <section class="product-text">
                <h5>NEW</h5>
            </section>
            <section class="heart-icon">
                <i class='bx bx-heart'></i>
            </section>
            <section class="ratting">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-half"></i>
            </section>
            <section class="price">
                <h4>TÊNIS NIKE KYRIE 8</h4>
                <section class="desc-price">
                    <p class="desconto">-13%</p>
                    <section class="preco">
                        <p>R$719,90</p>
                        <p>10 x 71,99</p>
                    </section>
                </section>
                <section class="desc-outher">
                    <p class="estoque"> em estoque</p>
                    <section class="prod-colors">
                        <p class="cores">cores</p>
                        <section class="ballr"></section>
                        <section class="ballg"></section>
                        <section class="ballb"></section>
                        <section class="balla"></section>
                        <section class="ballp"></section>
                    </section>
                </section>
            </section>
        </section>
    </section>
</section>