<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="imagem/png" href="imagem/icon-msports.jpg">

    <!-- Link Responsives CSS's-->
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <link rel="stylesheet" media="screen and (min-width: 535px) and (max-width: 768px)" href="css/small.css">
    <link rel="stylesheet" media="screen and (max-width: 534px)" href="css/verysmall.css">
    <link rel="stylesheet" media="screen and (min-width: 769px) and (max-width: 1024px)" href="css/medium.css">
    <!-- End Responsives CSS's-->

    <!-- Link CSS's of Mains, Sections, etc. -->

    <link rel="stylesheet" href="css/codes/buttons.css">
    
    <link rel="stylesheet" href="css/codes/tamanhos-prod.css">
    <link rel="stylesheet" href="css/codes/nav-bar.css">
    <link rel="stylesheet" href="css/codes/footer.css">
    <link rel="stylesheet" href="css/codes/add-product.css">
    <link rel="stylesheet" href="css/codes/tendencia.css">
    
    <link rel="stylesheet" href="css/codes/product-page.css">
    

    <!-- Others Links -->

    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

    <!-- css da pagina -->
    <link rel="stylesheet" href="css/codes/add-locais-premium.css">


     <script src="js/add-product.js"></script> 

    <title>+Sports</title>
</head>

<body style="background-color: #fff;">
    

    <section class="container-product">
        <section class="container">
            <section class="card">
                <form action="/adicionarLocaisPremium" id="adicionarLocalForm" method="POST" enctype="multipart/form-data">


                    
                    <section class="product-card" id="product-card-stl">
                        
                        <section class="MainIgm" data-index="0">
                            <input type="file" name="imagens" class="hidden-input" accept="image/*">
                            <div class="image-preview" id="preview-0">
                              <a href="#" class="upload-link"><i class="bi bi-plus-circle"></i> Adicionar Imagem</a>
                            </div>
                          </section>
                        
                          <section class="MainIgm" data-index="1">
                            <input type="file" name="imagens" class="hidden-input" accept="image/*">
                            <div class="image-preview" id="preview-1">
                              <a href="#" class="upload-link"><i class="bi bi-plus-circle"></i></a>
                            </div>
                          </section>
                        
                          <section class="MainIgm" data-index="2">
                            <input type="file" name="imagens" class="hidden-input" accept="image/*">
                            <div class="image-preview" id="preview-2">
                              <a href="#" class="upload-link"><i class="bi bi-plus-circle"></i></a>
                            </div>
                          </section>
                        
                          <section class="MainIgm" data-index="3">
                            <input type="file" name="imagens" class="hidden-input" accept="image/*">
                            <div class="image-preview" id="preview-3">
                              <a href="#" class="upload-link"><i class="bi bi-plus-circle"></i></a>
                            </div>
                          </section>
                    
                        
                        
                    </section>
                    
                    <section class="product-info" id="product-info-stl" style="display: flex;">

                        <h2>Informações Local</h2>

                            <section class="title-local">
                                <label for="nome_local">Digite o Nome do Local:</label><br>
                                <input class="name" type="text" id="nome_local" name="nome_local"
                                    placeholder="Digite o nome">
                            </section>

                        
                            <section class="local_category">
                                <label for="local_category">Categoria:</label>
                                <select name="local_category">
                                    <option value="" selected>Selecione</option>
                                    <option value="basketball">Basquete</option>
                                    <option value="football">Futebol</option>
                                    <option value="skatepark">Skate</option>
                                    <option value="gym">Academia</option>
                                    <option value="bicycle">Bicicleta</option>
                                    <option value="park">Parque</option>
                                    <option value="tennis">Tênis</option>
                                    <option value="volleyball">Vôlei</option>
                                    <option value="swimming">Natação</option>
                                </select>
                            </section>

                            
                            <section class="preco_hora">
                                <label for="preco_hora">Digite o Preço da Hora:</label><br>
                                <input class="name" type="text" id="preco_hora" name="preco_hora"
                                    placeholder="Digite o preço da hora">
                            </section>

                            

                            <section class="descricao_produto">
                                <label for="desc_local">Editar descrição do Local:</label><br>
                                <textarea id="desc_local" name="desc_local" placeholder="digite o descrição"></textarea>
                            </section>

                        
                            

                            <input type="hidden" name="latitude" id="latitude" value=""></input>
                            <input type="hidden" name="longitude" id="longitude" value=""></input>
                        
                            <div class="addButton">
                                <button class="proximaPag" onclick="proximaPag()" type="button">Proximo!</button>
                            </div>
                            
                                
                    </section>

                    <section class="funcionamento" style="display: none;">
                        <section class="hora_funciona">
                            <div onclick="voltarPag()" id="voltarButton"><span ><i class="bi bi-arrow-left-short"></i></span></div>
                            <h1>Horario de funcionamento</h1>
                            <section class="Segunda hora_css">
                                <div class="hora_css info_dia" onclick="mostrarEscolherHora('Segunda')">
                                    <h3><span>Segunda-feira</span></h3>
                                    <h3 class="h3_hora">10:00 - 19:00</h3>
                                    <p><i class="bi bi-chevron-right"></i></p>
                                </div>
                                <div onclick="esconderEscolherHora('Segunda')" class="overlay" id="overlay"></div>
                                <section class="escolher_hora" id="escolher_hora">
                                    <div class="toggle-container">
                                        <span onclick="esconderEscolherHora('Segunda')"><i class="bi bi-arrow-bar-left"></i></span>
                                        <button onclick="toggleButtons('Segunda')" type="button" id="toggleButton" class="toggle-btn active" value="Segunda">ABERTO</button>
                                    </div>
                                    <div class="desativa_pick" style="display: flex;width: 100%;flex-direction: column;align-items: center; margin-bottom: 15px;">
                                        <span>Segunda-feira</span>

                                        <div style="margin-top: 15px;">
                                        <input name="" id="start-time" class="time-picker" type="text">
                                    
                                        <span> - </span>

                                        <input name="" id="end-time" class="time-picker" type="text">
                                        </div>
                                    </div>
                                </section>
                            </section>
                            <hr>
                            
                            <section class="Terca hora_css">
                                <div class="hora_css info_dia" onclick="mostrarEscolherHora('Terca')">
                                    <h3><span>Terça-feira</span></h3>
                                    <h3 class="h3_hora">10:00 - 19:00</h3>
                                    <p><i class="bi bi-chevron-right"></i></p>
                                </div>
                                <div onclick="esconderEscolherHora('Terca')" class="overlay" id="overlay"></div>
                                <section class="escolher_hora" id="escolher_hora">
                                    <div class="toggle-container">
                                        <span onclick="esconderEscolherHora('Terca')"><i class="bi bi-arrow-bar-left"></i></span>
                                        <button onclick="toggleButtons('Terca')" type="button" id="toggleButton" class="toggle-btn active" value="Terca">ABERTO</button>
                                    </div>
                                    <div class="desativa_pick" style="display: flex;width: 100%;flex-direction: column;align-items: center; margin-bottom: 15px;">
                                        <span>Terça-feira</span>

                                        <div style="margin-top: 15px;">
                                        <input name="" id="start-time" class="time-picker" type="text">
                                    
                                        <span> - </span>

                                        <input name="" id="end-time" class="time-picker" type="text">
                                        </div>
                                    </div>
                                </section>
                            </section>
                            <hr>

                            <section class="Quarta hora_css">
                                <div class="hora_css info_dia" onclick="mostrarEscolherHora('Quarta')">
                                    <h3><span>Quarta-feira</span></h3>
                                    <h3 class="h3_hora">10:00 - 19:00</h3>
                                    <p><i class="bi bi-chevron-right"></i></p>
                                </div>
                                <div onclick="esconderEscolherHora('Quarta')" class="overlay" id="overlay"></div>
                                <section class="escolher_hora" id="escolher_hora">
                                    <div class="toggle-container">
                                        <span onclick="esconderEscolherHora('Quarta')"><i class="bi bi-arrow-bar-left"></i></span>
                                        <button onclick="toggleButtons('Quarta')" type="button" id="toggleButton" class="toggle-btn active" value="Quarta">ABERTO</button>
                                    </div>
                                    <div class="desativa_pick" style="display: flex;width: 100%;flex-direction: column;align-items: center; margin-bottom: 15px;">
                                        <span>Quarta-feira</span>

                                        <div style="margin-top: 15px;">
                                        <input name="" id="start-time" class="time-picker" type="text">
                                    
                                        <span> - </span>

                                        <input name="" id="end-time" class="time-picker" type="text">
                                        </div>
                                    </div>
                                </section>
                            </section>
                            <hr>

                            <section class="Quinta hora_css">
                                <div class="hora_css info_dia" onclick="mostrarEscolherHora('Quinta')">
                                    <h3><span>Quinta-feira</span></h3>
                                    <h3 class="h3_hora">10:00 - 19:00</h3>
                                    <p><i class="bi bi-chevron-right"></i></p>
                                </div>
                                <div onclick="esconderEscolherHora('Quinta')" class="overlay" id="overlay"></div>
                                <section class="escolher_hora" id="escolher_hora">
                                    <div class="toggle-container">
                                        <span onclick="esconderEscolherHora('Quinta')"><i class="bi bi-arrow-bar-left"></i></span>
                                        <button onclick="toggleButtons('Quinta')" type="button" id="toggleButton" class="toggle-btn active" value="Quinta">ABERTO</button>
                                    </div>
                                    <div class="desativa_pick" style="display: flex;width: 100%;flex-direction: column;align-items: center; margin-bottom: 15px;">
                                        <span>Quinta-feira</span>

                                        <div style="margin-top: 15px;">
                                        <input name="" id="start-time" class="time-picker" type="text">
                                    
                                        <span> - </span>

                                        <input name="" id="end-time" class="time-picker" type="text">
                                        </div>
                                    </div>
                                </section>
                            </section>
                            <hr>

                            <section class="Sexta hora_css">
                                <div class="hora_css info_dia" onclick="mostrarEscolherHora('Sexta')">
                                    <h3><span>Sexta-feira</span></h3>
                                    <h3 class="h3_hora">10:00 - 19:00</h3>
                                    <p><i class="bi bi-chevron-right"></i></p>
                                </div>
                                <div onclick="esconderEscolherHora('Sexta')" class="overlay" id="overlay"></div>
                                <section class="escolher_hora" id="escolher_hora">
                                    <div class="toggle-container">
                                        <span onclick="esconderEscolherHora('Sexta')"><i class="bi bi-arrow-bar-left"></i></span>
                                        <button onclick="toggleButtons('Sexta')" type="button" id="toggleButton" class="toggle-btn active" value="Sexta">ABERTO</button>
                                    </div>
                                    <div class="desativa_pick" style="display: flex;width: 100%;flex-direction: column;align-items: center; margin-bottom: 15px;">
                                        <span>Sexta-feira</span>

                                        <div style="margin-top: 15px;">
                                        <input name="" id="start-time" class="time-picker" type="text">
                                    
                                        <span> - </span>

                                        <input name="" id="end-time" class="time-picker" type="text">
                                        </div>
                                    </div>
                                </section>
                            </section>
                            <hr>

                            <section class="Sabado hora_css">
                                <div class="hora_css info_dia" onclick="mostrarEscolherHora('Sabado')">
                                    <h3><span>Sábado</span></h3>
                                    <h3 class="h3_hora">10:00 - 19:00</h3>
                                    <p><i class="bi bi-chevron-right"></i></p>
                                </div>
                                <div onclick="esconderEscolherHora('Sabado')" class="overlay" id="overlay"></div>
                                <section class="escolher_hora" id="escolher_hora">
                                    <div class="toggle-container">
                                        <span onclick="esconderEscolherHora('Sabado')"><i class="bi bi-arrow-bar-left"></i></span>
                                        <button onclick="toggleButtons('Sabado')" type="button" id="toggleButton" class="toggle-btn active" value="Sabado">ABERTO</button>
                                    </div>
                                    <div class="desativa_pick" style="display: flex;width: 100%;flex-direction: column;align-items: center; margin-bottom: 15px;">
                                        <span>Sábado</span>

                                        <div style="margin-top: 15px;">
                                        <input name="" id="start-time" class="time-picker" type="text">
                                    
                                        <span> - </span>

                                        <input name="" id="end-time" class="time-picker" type="text">
                                        </div>
                                    </div>
                                </section>
                            </section>
                            <hr>

                            <section class="Domingo hora_css">
                                <div class="hora_css info_dia" onclick="mostrarEscolherHora('Domingo'); toggleButton(dia)">
                                    <h3><span>Domingo</span></h3>
                                    <h3 class="h3_hora">FECHADO</h3>
                                    <p><i class="bi bi-chevron-right"></i></p>
                                </div>
                                <div onclick="esconderEscolherHora('Domingo')" class="overlay" id="overlay"></div>
                                <section class="escolher_hora" id="escolher_hora">
                                    <div class="toggle-container">
                                        <span onclick="esconderEscolherHora('Domingo')"><i class="bi bi-arrow-bar-left"></i></span>
                                        <button onclick="toggleButtons('Domingo')" type="button" id="toggleButton" class="toggle-btn" value="Domingo">FECHADO</button>
                                    </div>
                                    <div class="desativa_pick" style="display: none;width: 100%;flex-direction: column;align-items: center; margin-bottom: 15px;">
                                        <span>Domingo</span>

                                        <div style="margin-top: 15px;">
                                        <input name="" id="start-time" class="time-picker" type="text">
                                    
                                        <span> - </span>

                                        <input name="" id="end-time" class="time-picker" type="text">
                                        </div>
                                    </div>
                                </section>
                            </section>
                            <hr>

                            <input type="hidden" id="horarios" name="horarios">

                            <div class="addButton">
                                <button onclick="enviarLocal()" type="button">Adcionar Agora!</button>
                            </div>
                            
                        </section>
                        <section class="mapa">
                            <h2>Localização Selecionada</h2>
                            <div id="map" style="height: 100%; width: 100%;"></div> 
                        </section>
                    </section>

                    
                </form>
            </section>
        </section>
    </section>

            

    <script src="js/script.js"></script>
    <script src="js/add-locais-premium.js"></script>
    <script src="js/mini-imgs.js"></script>
        
    <script>
        function enviarLocal(){
            const dias = document.querySelectorAll('.active');
            let dicionario_horarios = {};

            for (const dia of dias) {
                const diaSemana = dia.value;
                const iniHoraElement = document.querySelector(`.${diaSemana} #start-time`);
                const fimHoraElement = document.querySelector(`.${diaSemana} #end-time`);

                if (iniHoraElement && fimHoraElement) {
                    const iniHora = iniHoraElement.value;
                    const fimHora = fimHoraElement.value;


                    dicionario_horarios[diaSemana] = {
                        inicio: iniHora,
                        fim: fimHora
                    };
                } else {
                    console.warn(`Element(s) for ${diaSemana} not found.`);
                }
            }

            document.getElementById('horarios').value = JSON.stringify(dicionario_horarios);

            console.log('Funcionou?')
            console.log(document.getElementById('horarios').value)

            document.getElementById("adicionarLocalForm").submit();
        }
    </script>


    <!-- Pegar imagem pelo icons de adiconar -->
    <script>
        document.querySelectorAll('.upload-link').forEach((link, index) => {
            link.addEventListener('click', (event) => {
            event.preventDefault();
            const input = link.closest('.MainIgm').querySelector('.hidden-input');
            input.click();
            });
        });

        document.querySelectorAll('.hidden-input').forEach((input, index) => {
            input.addEventListener('change', function (event) {
            const file = event.target.files[0];
            if (file) {
                const reader = new FileReader();
                reader.onload = function (e) {
                const previewDiv = document.getElementById(`preview-${index}`);
                previewDiv.innerHTML = `
                    <img src="${e.target.result}">
                    <button type="button" class="remove-image">Remover</button>
                `;

                if(index==0){
                    const previwImgInfo = document.querySelector('.img_product_previw');
                    previwImgInfo.innerHTML = `
                    <img src="${e.target.result}">
                `;
                
                }

                // Adicionar funcionalidade de remover imagem
                const removeBtn = previewDiv.querySelector('.remove-image');
                removeBtn.addEventListener('click', () => {
                          previewDiv.innerHTML = `<a href="#" class="upload-link"><i class="bi bi-plus-circle"></i> Adicionar Imagem</a>`;
                    
                    // Reativar a funcionalidade de clicar para adicionar imagem
                    const newLink = previewDiv.querySelector('.upload-link');
                    newLink.addEventListener('click', (event) => {
                    event.preventDefault();
                    input.click();
                    });
                });
                };
                reader.readAsDataURL(file);
            }
            });
        });

        

        

    </script>

    <script>
        const email = "<%= email %>";
    </script>

    <script> 
        // Instância para o campo de início
    flatpickr("#start-time", {
        enableTime: true,
        noCalendar: true,
        dateFormat: "H:i",
        time_24hr: true,
        defaultDate: "10:00" // Defina o horário padrão para o início
    });

    // Instância para o campo de fim
    flatpickr("#end-time", {
        enableTime: true,
        noCalendar: true,
        dateFormat: "H:i",
        time_24hr: true,
        defaultDate: "19:00" // Defina o horário padrão para o fim
    });
    </script>


<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDfDlc_NGIZuHjF9y_F1KDRWM1FB_PhFgE&libraries=places"></script>
</body>

</html>