<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="imagem/png" href="imagem/icon-msports.jpg">

    <!-- Link Responsives CSS's-->
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <link rel="stylesheet" media="screen and (min-width: 535px) and (max-width: 768px)" href="css/small.css">
    <link rel="stylesheet" media="screen and (max-width: 534px)" href="css/verysmall.css">
    <link rel="stylesheet" media="screen and (min-width: 769px) and (max-width: 1024px)" href="css/medium.css">
    <!-- End Responsives CSS's-->

    <!-- Link CSS's of Mains, Sections, etc. -->

    <link rel="stylesheet" href="css/codes/sessoes.css">
    <link rel="stylesheet" href="css/codes/tendencia.css">
    <link rel="stylesheet" href="css/codes/categorias.css">
    <link rel="stylesheet" href="css/codes/product-page.css">
    <link rel="stylesheet" href="css/codes/nav-bar.css">
    <link rel="stylesheet" href="css/codes/footer.css">
    <link rel="stylesheet" href="css/codes/profile.css">

    <!-- Others Links -->

    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

    <title>+Sports</title>
</head>

<body>

    <%- include("../partial/header-home", {email: email}) %>
        <!--    Utilize "document.write(localStorage.getItem("name"));" para mostrar os dados digitados no cadastro    -->

        <section class="infos">
            <h2>Minha conta</h2>
        </section>

        <section class="historico">
            <section class="account">
                <section class="nog">
                    <h2>MEU CADASTRO</h2>
                    <ul class="desc">
                        <li>
                            <% if(nome==false) { %>
                                <h4>Logue para acessar suas informações!</h4>
                                <% }else{ %>
                                    <h4 class="lr">Adicionar endereço:</h4>
                                    <form method="post" action="/alterType">
                                        <section class="form-group">
                                            <label for="cep">
                                                <h3 class="lr">Digite seu primeiro nome</h3>
                                                <input name="cep" type="text" id="cep" placeholder="CEP" size="10"
                                                    class="" onblur="pesquisacep(thisvalue);"
                                                    onkeyup="mascaraCEP(event)" maxlength="9" />
                                            </label><br />
                                        </section>
                                        <section class="form-group">
                                            <h3 class="lr">Rua:</h3>
                                            <label for="rua">
                                                <input name="rua" type="text" id="rua" size="60" /></label><br />
                                        </section>
                                        <section class="form-group">
                                            <h3 class="lr">Bairro:</h3>
                                            <label for="bairro">
                                                <input name="bairro" type="text" id="bairro" size="40" /></label><br />
                                        </section>
                                        <section class="form-group">
                                            <h3 class="lr">Cidade:</h3>
                                            <label for="cidade">
                                                <input name="cidade" type="text" id="cidade" size="40" /></label><br />
                                        </section>
                                        <section class="form-group">
                                            <h3 class="lr">Estado:</h3>
                                            <label for="estado">
                                                <input name="uf" type="text" id="uf" size="2" /></label><br />
                                        </section>
                                        <button type="submit" class="btn btn-primary" id="save-btn" required>Salvar
                                            endereço</button>
                                    </form>
                                    <% } %>
                        </li>
                        <li>
                            <% if(nome && email==false) { %>
                                <h4>Logue para acessar suas informações!</h4>
                                <% }else{ %>
                                    <h4 class="lr">Seu E-mail</h4>
                                    <label class="campo-dig" for="email">
                                        <%= email %>
                                    </label>
                                    <h4>Deseja alterar seu <span>e-mail?</span></h4>
                                    <input id="email" type="text" name="email" placeholder="Deseja alterar seu email?"
                                        required>
                                    <% } %>
                        </li>
                    </ul>
                </section>
            </section>



        </section>
        </section>


        <%- include("../partial/footer") %>

</body>
<script src="js/script.js"></script>
<script src="js/cep-api.js"></script>

</html>