<!DOCTYPE ejs>
<ejs lang="pt-br">

    <head>

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" type="imagem/png" href="imagem/icon-msports.jpg">

        <!-- Link Responsives CSS's-->
        <link rel="stylesheet" href="css/style.css" type="text/css">
        <link rel="stylesheet" media="screen and (min-width: 535px) and (max-width: 768px)" href="css/small.css">
        <link rel="stylesheet" media="screen and (max-width: 534px)" href="css/verysmall.css">
        <link rel="stylesheet" media="screen and (min-width: 769px) and (max-width: 1024px)" href="../../public/css/medium.css">
        <!-- End Responsives CSS's-->

        <!-- Link CSS's of Mains, Sections, etc. -->

        <link rel="stylesheet" href="css/codes/sessoes.css">
        <link rel="stylesheet" href="css/codes/interface.css">
        <link rel="stylesheet" href="css/codes/tendencia.css">
        <link rel="stylesheet" href="css/codes/categorias.css">
        <link rel="stylesheet" href="css/codes/product-page.css">
        <link rel="stylesheet" href="css/codes/nav-bar.css">
        <link rel="stylesheet" href="css/codes/footer.css">

        <!-- Others Links -->

        <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

        <title>+Sports</title>
    </head>

    <body>

        <%- include("../partial/header-home", { email: email }) %>

                    <section class="main-home">

                        <section class="slider-content">

                            <input type="radio" name="btn-radio" id="radio1">
                            <input type="radio" name="btn-radio" id="radio2">
                            <input type="radio" name="btn-radio" id="radio3">
                            <input type="radio" name="btn-radio" id="radio4">

                            <section class="slide-box primeiro">
                                <img class="img-desktop" src="imagem/img-sec-pc-2.jpg" alt="slide 1">
                                <img class="img-mobile" src="imagem/img-sec-mob-2.jpg" alt="slide 1">
                            </section>

                            <section class="slide-box">
                                <img class="img-desktop" src="imagem/img-sec-pc-5.jpg" alt="slide 3">
                                <img class="img-mobile" src="imagem/img-sec-mob-5.jpg" alt="slide 1">
                            </section>

                            <section class="slide-box">
                                <img class="img-desktop" src="imagem/img-sec-pc-3.jpg" alt="slide 4">
                                <img class="img-mobile" src="imagem/img-sec-mob-3.jpg" alt="slide 2">
                            </section>

                            <section class="slide-box">
                                <img class="img-desktop" src="imagem/img-sec-pc-6.jpg" alt="slide 4">
                                <img class="img-mobile" src="imagem/img-sec-mob-6.jpg" alt="slide 4">
                            </section>

                            <section class="nav-auto">
                                <section class="auto-btn1"></section>
                                <section class="auto-btn2"></section>
                                <section class="auto-btn3"></section>
                                <section class="auto-btn4"></section>
                            </section>

                            <section class="nav-manual">
                                <label for="radio1" class="manual-btn"></label>
                                <label for="radio2" class="manual-btn"></label>
                                <label for="radio3" class="manual-btn"></label>
                                <label for="radio4" class="manual-btn"></label>

                            </section>

                        </section>
                    </section>

            <section class="center-text">
                <h2>Categorias</h2>
            </section>

            <!-- Categorias -->
            <section class="categories" id="categories">
                <section class="categs">

                    <section class="pow">
                        <a href="/soccer"><img src="imagem/categ-fute.jpeg" alt="futebol"></a>
                    </section>

                    <section class="pow">
                        <img src="imagem/run-categ.jpeg" alt="corrida">
                    </section>

                    <section class="pow">
                        <img src="imagem/gym-categ.jpeg" alt="basquete">
                    </section>

                    <section class="pow">
                        <a href="#">
                            <img src="imagem/bskt-categ.jpeg" alt="basquete">
                        </a>
                    </section>
                </section>

            </section>

            <section class="center-text">
                <h2><span>Mais</span> vendidos</h2>
            </section>

            <%- include("../partial/top-prdct") %>

            <section class="center-text">
                <h2>Locais Esportivos</h2>
            </section>

            <section class="espt-img">

                <a href="locais-esportivos.ejs">
                    <img class="inic-espt-pc" src="imagem/locais-page.jpeg" alt="">
                </a>

                <a href="locais-esportivos.ejs">
                    <img class="inic-espt-mob" src="imagem/locais-categ.jpeg" alt="">
                </a>
            </section>

            <!-- Sessôes dos produtos -->

            <section class="center-text">
                <h2>Novas Tendências/<span>Produtos</span></h2>
            </section>

            <%- include("../partial/produtos") %>

                <section class="center-text">
                    <h2>Navegue por <span>Marcas</span></h2>
                </section>

                <section class="categories" id="categories">
                    <section class="categs">
                        <section class="pow">
                            <a href="soccer.ejs"><img src="imagem/categ-NIKE.jpeg" alt="basquete"></a>
                        </section>
                        <section class="pow">
                            <a href="#"></a>
                            <img src="imagem/categ-NB.jpeg" alt="camisas de time">
                        </section>
                        <section class="pow">
                            <a href="#"></a>
                            <img src="imagem/categ-Adidas.jpeg" alt="basquete">
                        </section>
                        <section class="pow">
                            <a href="#">
                                <img src="imagem/puma-categ.jpeg" alt="basquete">
                            </a>
                        </section>
                    </section>

                </section>

                <%- include("../partial/footer") %>

                    <script src="js/script.js" defer></script>
                    <script src="js/carousel.js"></script>
                    
    </body>

</ejs>