<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="imagem/png" href="imagem/icon-msports.jpg">

    <!-- Link Responsives CSS's-->
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <link rel="stylesheet" media="screen and (min-width: 535px) and (max-width: 768px)" href="css/small.css">
    <link rel="stylesheet" media="screen and (max-width: 534px)" href="css/verysmall.css">
    <link rel="stylesheet" media="screen and (min-width: 769px) and (max-width: 1024px)" href="css/medium.css">
    <!-- End Responsives CSS's-->

    <!-- Link CSS's of Mains, Sections, etc. -->

    <link rel="stylesheet" href="css/codes/buttons.css">
    <link rel="stylesheet" href="css/codes/product-page.css">
    <link rel="stylesheet" href="css/codes/tamanhos-prod.css">
    <link rel="stylesheet" href="css/codes/nav-bar.css">
    <link rel="stylesheet" href="css/codes/footer.css">

    <!-- Others Links -->

    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

    <title>+Sports</title>
</head>

<body>

    <%- include("../partial/header-home") %>


    <section class="container-product">
        <section class="container">
            <section class="card">
                <!-- barra lateral de imagens para PC -->
                <section class="pics-card">
                    <img class="small-img" src="https://imgnike-a.akamaihd.net/768x768/021997ID.jpg">
                    <img class="small-img" src="https://imgnike-a.akamaihd.net/768x768/021997IDA1.jpg">
                    <img class="small-img" src="https://imgnike-a.akamaihd.net/768x768/021997IDA2.jpg">
                    <img class="small-img" src="https://imgnike-a.akamaihd.net/768x768/021997IDA3.jpg">
                    <img class="small-img" src="https://imgnike-a.akamaihd.net/768x768/021997IDA5.jpg">
                </section>

                <section class="product-card">
                    <img id="MainImg" src="https://imgnike-a.akamaihd.net/768x768/021997ID.jpg">
                </section>

                <!-- Barra lateral para dispositivos moveis/resoluçõeds menores -->
                <section class="mobile-pics-card">
                    <img class="small-img" src="https://imgnike-a.akamaihd.net/768x768/021997ID.jpg">
                    <img class="small-img" src="https://imgnike-a.akamaihd.net/768x768/021997IDA1.jpg">
                    <img class="small-img" src="https://imgnike-a.akamaihd.net/768x768/021997IDA2.jpg">
                    <img class="small-img" src="https://imgnike-a.akamaihd.net/768x768/021997IDA3.jpg">
                    <img class="small-img" src="https://imgnike-a.akamaihd.net/768x768/021997IDA5.jpg">
                </section>


                <!-- DESCRIÇAO DO PRODUTO/PREÇO -->

                <section class="product-info">
                    <section class="title-prod">
                        <p> NIKE Shorts Nike Dri-FIT Woven Masculino</p>
                        <a>Treino & Academia</a>
                    </section>
                    <section class="ratting-prod">
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-half"></i>
                        <p> 4,5 avaliações</p>
                    </section>

                    <section class="price">
                        <p>R$:169,99 ou <span>2x</span> de <span>R$:85,99</span> <a class="riscado" style="font-size: 18px;">R$ 249,99</a> <a style="color: rgba(0, 107, 48, 0.685); font-size: 16px;">35% off</a></p>

                    </section>


                    <!-- Fotos das otras colorways/variantes do produto -->
                    <section class="mini-imgs">
                        <section class="mini-pics-product">
                            <img class="select-prod" src="https://imgnike-a.akamaihd.net/768x768/021997ID.jpg" alt="">
                        </section>
                    </section>

                    <!-- Seleção de tamanhos  -->
                    <section class="tamanhos">
                        <h2 class="tam-inf"><span>Tamanho</span></h2>
                        <select class="tam">
                            <option>P</option>
                            <option>M</option>
                            <option>G</option>
                            <option>GG</option>
                        </select>
                        <h2 class="tam-inf"><span>Quantidade</span></h2>
                        <input id="quantidade" type="number" value="1" max="50">


                    </section>
                    <!-- Botão para comprar/adicionar no carrinho -->
                    <section class="button">
                        <section class="button-wrapper">
                            <section class="text">Compre agora!</section>
                            <span class="icon">
                                <svg viewBox="0 0 16 16" class="bi bi-cart2" fill="currentColor" height="16" width="16"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z">
                                    </path>
                                </svg>
                            </span>
                        </section>
                    </section>
                </section>

            </section>
        </section>
    </section>


    <section class="center-text-prod">
        <h2>Você pode <span>Gostar</span></h2>
    </section>

    <section class="relacionados">

        <section class="relacionado">
            <section class="img-relac">
                <a href="#"><img class="rf" src="https://imgnike-a.akamaihd.net/768x768/0270887T.jpg" alt=""
                        srcset=""></a>
                <section class="relac-product-text">
                    <h5>NEW</h5>
                </section>
                <section class="heart-icon">
                    <i class='bx bx-heart'></i>
                </section>
                <section class="ratting">
                    <i class="bi bi-star"></i>
                    <i class="bi bi-star"></i>
                    <i class="bi bi-star"></i>
                    <i class="bi bi-star"></i>
                    <i class="bi bi-star"></i> 
                </section>
                <section class="relac-price">
                    <h4>Tênis Nike Sabrina 1 Spark Feminino</h4>
                    <p>a partir de <span>10x de R$ 83,33</span></p>
                </section>
            </section>
            <section class="img-relac">
                <a href="product-page-2.html"><img class="rf"
                        src="https://imgnike-a.akamaihd.net/768x768/021997ID.jpg" alt="" srcset=""></a>
                <section class="heart-icon">
                    <i class='bx bx-heart'></i>
                </section>
                <section class="ratting">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star"></i>
                </section>
                <section class="relac-price">
                    <h4>Shorts Nike Dri-FIT Woven Masculino</h4>
                    <p>a partir de <span>R$: 149,99</span> -
                        <a class="riscado">R$: 249,99</a>
                    </p>
                </section>
            </section>
            <section class="img-relac">
                <a href="#"><img class="rf" src="https://imgnike-a.akamaihd.net/768x768/02316915.jpg" srcset=""></a>
                <section class="heart-icon">
                    <i class='bx bx-heart'></i>
                </section>
                <section class="ratting">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-half"></i>
                    <i class="bi bi-star"></i>
                </section>
                <section class="relac-price">
                    <h4>Regata Nike Golden State Warriors Icon Edition 2022/23 Masculina</h4>
                    <p>a partir de <span>8x de R$: 84,99</span> -
                        <a class="riscado">R$: 799,99</a>
                    </p>
                </section>
            </section>
            <section class="img-relac">
                <a href="#"><img class="rf" src="https://imgnike-a.akamaihd.net/768x768/015866ID.jpg" alt=""
                        srcset=""></a>
                <section class="heart-icon">
                    <i class='bx bx-heart'></i>
                </section>
                <section class="ratting">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-half"></i>
                </section>
                <section class="relac-price">
                    <h4>Legging Nike Pro Feminina</h4>
                    <p>a partir de <span>2x de R$ 110,00 sem juros</span> -
                        <br> <a class="riscado">R$ 299,99</a>
                    </p>
                </section>
            </section>


        </section>
        </section>
    </section>


    </section>

    <%- include("../partial/footer") %>

    <script src="js/script.js"></script>
    <script src="js/mini-imgs.js"></script>

</body>

</html>