<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="imagem/png" href="imagem/icon-msports.jpg">

    <!-- Link Responsives CSS's-->
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <link rel="stylesheet" media="screen and (min-width: 535px) and (max-width: 768px)" href="css/small.css">
    <link rel="stylesheet" media="screen and (max-width: 534px)" href="css/verysmall.css">
    <link rel="stylesheet" media="screen and (min-width: 769px) and (max-width: 1024px)" href="css/medium.css">
    <!-- End Responsives CSS's-->

    <!-- Link CSS's of Mains, Sections, etc. -->

    <link rel="stylesheet" href="css/codes/sessoes.css">
    <link rel="stylesheet" href="css/codes/tendencia.css">
    <link rel="stylesheet" href="css/codes/categorias.css">
    <link rel="stylesheet" href="css/codes/product-page.css">
    <link rel="stylesheet" href="css/codes/nav-bar.css">
    <link rel="stylesheet" href="css/codes/footer.css">
    <link rel="stylesheet" href="css/codes/profile.css">

    <!-- Others Links -->

    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

    <title>+Sports</title>
</head>

<body>

    <%- include("../partial/header-home", {email: email}) %>
        <!--    Utilize "document.write(localStorage.getItem("name"));" para mostrar os dados digitados no cadastro    -->

        <section class="infos">
            <h2>Minha conta</h2>

            <% if(nome == undefined ) {  %> <li>
                <a class="login-btn" href="/login">
                    <button>
                        <i class="bi bi-person">Entre agora</i>
                    </button>
                </a>
                </li>
               <% } else { %>
                <li>
                    <a class="sair-btn" href="/fazerLogout">
                        <button>
                            <i class="bi bi-person">Sair</i>
                        </button>
                    </a>
                </li>
                
             <% } %>
        </section>

        <section class="historico">
            <% if(nome == undefined) {  %>
            <h4 class="wllc"><span>Faça Login para acessar seus dados!</span></h4>
            <% } else { %>
                <h4 class="wllc"><span>Bem vindo:</span> <%= nome %> </h4>
            <% } %>
                <section class="account">
                    <section class="nog">
                        <h2>PEDIDOS</h2>

                        <ul class="desc">
                            <li>
                                <p>Ultimos pedidos</p>
                            </li>
                        </ul>
                    </section>
                    <section class="nog">
                        <h2>MEU CADASTRO</h2>
                        <ul class="desc">
                            <li>
                                <p><a href="/alter">Alterar meus dados pessoais</a></p>
                            </li>
                            <li>
                                <p><a href="/alter-account">Alterar meu e-mail e Senha</a></p>
                            </li>
                        </ul>
                    </section>
                    <section class="nog">
                        <h2>PAGAMENTO</h2>
                        <ul class="desc">
                            <li>
                                <p><a href="/">Imprimir 2ª via de boleto</a></p>
                            </li>
                        </ul>
                    </section>
                    <section class="nog">

                        <section class="aviso-card"></section>

                        <h2>SERVIÇOS</h2>
                        <ul class="desc">
                            <li>
                                <p><a href="favoritos.html">Produtos favoritos</a></p>
                                <p><a href="favoritos.html">Locais favoritos</a></p>
                            </li>
                        </ul>
                    </section>
                </section>



        </section>
        </section>


        <%- include("../partial/footer") %>

</body>


<script src="js/script.js"></script>
<script src="js/logout.js"></script>
<script src="js/updateUI-profile.js"></script>
<script src="js/profile.js"></script>


</html>