<!DOCTYPE html>
<html lang="pt-br">

<%- include ("../partial/head-soccer") %>

<body>

    <%- include("../partial/header-home") %>

        <main>
            <section class="img-inic">
                <img src="imagem/img-fute-ini.jpg" alt="" srcset="">
            </section>

            <section class="wrapper">
                <section id="search-container">
                    <input type="search" id="search-input" placeholder="Search product name here.." />
                    <button id="search">Search</button>
                </section>
                <section id="buttons">

                    <button class="button-value" onclick="filterProduct('all')">
                        All
                    </button>

                    <button class="button-value" onclick="filterProduct('NIKE')">
                        NIKE
                    </button>

                    <button class="button-value" onclick="filterProduct('ADIDAS')">
                        ADIDAS
                    </button>

                    <button class="button-value" onclick="filterProduct('PUMA')">
                        PUMA
                    </button>

                    <button class="button-value" onclick="filterProduct('ACESSÓRIOS')">
                        ACESSÓRIOS
                    </button>

                </section>
                <section id="products"></section>
            </section>


            <%- include("../partial/footer") %>

                <script src="js/search.js"></script>
                <script src="js/script.js"></script>

        </main>
</body>

</html>